<div class="add-page">
	<p>Share anything that’s for sale, anywhere on the web.</p>
	{{view Ember.TextField}}
	<p> Drag this button to your bookmark bar now. Use it next time you come across something awesome online.
				<a href="javascript:(function(){var%20id='shoplift-bookmarklet-script',s=document.getElementById(id);if(s)s.parentNode.removeChild(s);s=document.createElement('script');s.setAttribute('src','http://theshoplift.herokuapp.com/bookmarklet.js?z='+(Math.random()));s.setAttribute('type','text/javascript');s.setAttribute('id',id);document.body.appendChild(s);})();" class="shoplift-this-button"><img src="/img/shoplift-this-button.png" alt="Shoplift This!" /></a>
	</p>

</div>