<div>
	<h3>Try Out Our Bookmarklet</h3>

	<p>Add items as you see them on the web - with one click.</p>

	<h3>To install the bookmarklet in <span id="browser">Chrome</span></h3>
	
	<p> 1. Make sure your bookmarks bar is showing. If it's not, click [wrench &gt; tools &gt; always show bookmarks bar] (need to customize this language to each browser)</p>
		
	<p> 2. Click and drag the Bookmarklet button directly to your Bookmarks Bar. Place it somewhere each to spot.
				<a href="javascript:(function(){var%20id='shoplift-bookmarklet-script',s=document.getElementById(id);if(s)s.parentNode.removeChild(s);s=document.createElement('script');s.setAttribute('src','http://theshoplift.herokuapp.com/bookmarklet.js?z='+(Math.random()));s.setAttribute('type','text/javascript');s.setAttribute('id',id);document.body.appendChild(s);})();" class="btn">Shoplift It</a>
	</p>
	<p>When you see an item you like, just click the button to Shoplift it - we'll take care of all the rest.</p>

</div>