<div id="home">
	<a {{action goHome href=true}}><img src="img/nav-home.png" /></a>
</div>
<div id="logo" class="item-view">
	<a href="#"><img src="img/logo.png" alt="The Shoplift"></a>
</div>

{{view view.menuView}}