
{{#with view.content}}
	<div class="profile-box-container">
		{{view Shoplift.UserView}}
		{{#each recentItems}}
			<div class="product-img">
				<img {{bindAttr src="photoFileName"}} /> 
			</div>
		{{/each}}

		<div class="profile-sub-container">
			<div class="profile-meta">
				<ul>
					<li>{{{htmldescription}}}</li>
					<li>{{followers.length}} Followers</li>
				</ul>
			</div>
		</div>
	</div>
<!-- end profile-box -->
{{/with}}