<h2>Congratulations, you have a new follower!</h2>

<p><%= link_to @follower.full_name, user_url(@follower) %> is now following you.</p>

<p><%= link_to "View their profile", user_url(@follower) %> to see what they've shoplifted.</p>

<p>Enjoy using The Shoplift!</p>