<h1><%= @user.full_name %>:</h1>

<p>Welcome to The Shoplift</p>

<p>Get started by choosing a handful of Shoplifters to follow.
You can follow friends and celebrities, or your favorite brands and stores.
The items they share are the items you'll see when you log in.</p>
