<ul class="personStats">
  <li class="current"><%= link_to "#{pluralize(user.items.length, 'Item')} Shoplifted", user %></li>
  <li><%= link_to pluralize(user.followers.count, 'Follower'), user_followers_path(user) %></li>
  <li><%= link_to pluralize(user.followees.count, 'Followee'), user_following_index_path(user) %></li>
</ul>