<div id="content">
  <%= render 'profile_info', user: @user %>
  <div class="rightCol">
    <% if @user.posts.empty? %>
      This user doesn't have any posts yet.
    <% else %>
      <% @user.posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    <% end %>
  <div class="clear"></div>
</div>