<div id="content">
  <%= render 'profile_info', user: @user %>
  <div class="rightCol">
    <% if @items.empty? %>
      This user doesn't have any posts yet.
    <% else %>
      <%= render @items %>
      <div id="results"></div>
      <%= will_paginate(@items) %>
      <%= pageless(@items.total_pages, user_path(@user)) %>
    <% end %>
  <div class="clear"></div>
</div>
