<div id="content">
  <%= render 'profile_info', user: @user %>
  <div class="rightCol">
    <% if @user.posts.empty? %>
      This user doesn't have any posts yet.
    <% else %>
      <%= render partial: 'posts/post', collection: @posts %>
      <div id="results"></div>
      <%= will_paginate(@posts) %>
      <%= pageless(@posts.total_pages, user_path(@user)) %>
    <% end %>
  <div class="clear"></div>
</div>