  <h2>Choose More Followees</h2>
  <ul class="followOptions">
    <li><a href="#" id="recommended" class="suggestions">Recommended</a></li>
    <li><a href="#" id="staff_picks" class="suggestions">Staff Picks</a></li>
    <li><a href="#" id="popular" class="suggestions">Most Popular</a></li>
    <li><a href="#" id="trending" class="suggestions">Trending Now</a></li>
    <li><a href="#" id="local_favorites" class="suggestions">Local Favorites</a></li>
    <li><a href="#" id="friends" class="suggestions">Your Friends</a></li>
    <li> <%= link_to "By Interest", page_follow_interests_path %> </li>
  </ul>
  <ul class="followInterest">
    <li><a href="#" class="byInterest">Runway Fashion</a></li>
    <li><a href="#" class="byInterest">Wear-to-work</a></li>
    <li><a href="#" class="byInterest">School Clothes</a></li>
    <li><a href="#" class="byInterest">The Life of Leisure</a></li>
    <li><a href="#" class="byInterest">Beauty Products</a></li>
    <li><a href="#" class="byInterest">The Modern Home</a></li>
    <li><a href="#" class="byInterest">Worthwhile Technology</a></li>
    <li><a href="#" class="byInterest">Foodie Supplies</a></li>
  </ul>
<script>
  function suggestions(uri) {
    var that = $(this);
    $.ajax({
      url:uri,
      type:'GET',
      dataType:'html',
      success:function(data) {
        $('div.rightCol').html(data);
        handle_follow();
      },
      error:function(xhr,textStatus,errorThrown){
        $('div.rightCol').html(xhr.responseText);
      }
    });
  }
  $('li.current').removeClass('current');
  $('#recommended').parent().addClass('current');
  $('.suggestions').click(function () {
    suggestions('/'+$(this).attr('id'));
    $('li.current').removeClass('current');
    $(this).parent().addClass('current');
  });

  $('.byInterest').click(function () {
    alert('Not yet implemented');
  });

</script>

