<div class="entryTemplate">
  <div class="entry person">
    <div class="entryHead">
      <a href="#"><img src="img/user-large-john.jpg" width="175" height="175" alt="profile-large"/></a>
      <div class="personMeta">
        <h2><a href="#">John Harrington</a><br/><span class="location">New York, NY</span></h2>
        <ul class="personStats">
          <li><a href="#">200 Items Shoplifted</a></li>
          <li><a href="#">200 Followers</a></li>
          <li><a href="#">200 Followees</a></li>
        </ul>
        <div class="profileText">Profile quis hendrerit et tation, facilisi vel duis commodo vulputate. Profile quis hendrerit et tation, facilisi vel duis commodo vulputate.</div>
        <a class="button" href="#">Follow</a>
      </div>
    </div>
    <div class="personProducts">
      <ul>
        <li><a href="#"><img src="img/product-large-1.jpg" /></a></li>
        <li><a href="#"><img src="img/product-large-2.jpg" /></a></li>
        <li><a href="#"><img src="img/product-large-3.jpg" /></a></li>
        <li><a href="#"><img src="img/product-large-4.jpg" /></a></li>
        <li><a href="#"><img src="img/product-large-5.jpg" /></a></li>
      </ul>
    </div>
  </div>
</div>
