<head>
	<meta charset="utf-8">
	<title>The Shoplift :: Home</title>
	
	<meta name="description" content="The Shoplift" />
	<meta name="keywords" content="The Shoplift" />	
	<meta name="author" content="The Shoplift" />
  
  <%= stylesheet_link_tag "main"%>	
  <!--[if lt IE 9]>
  	<link rel="stylesheet" type="text/css" href="css/ie.css" />
  <![endif]-->

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
	<script src="../js/jquery.mousewheel.min.3.0.6.js"></script>
	<script src="../js/jquery.sbscroller.js"></script>
	<script src="../js/jquery.scrollTo-min.js"></script>
	<script src="../js/jquery.simplemodal.js"></script>
	<script src="../js/sitefuncs.js"></script>
	<script src="/assets/page.js"></script>
</head>

