<div class="entryTemplate"> 
    <div class="entryHead">
        <a href="#"><img class="bioPhoto" src="../img/REPLACE.jpg" width="70" height="70" alt="Bio Photo" /></a>
        <p class="user"><a href="#">REPLACE</a><br/><span class="location">REPLACE</span></p>
    </div>
    <div class="productMain">
        <div class="product">
            <div class="productDetails">
                <!-- note header text needs to be inserted before the break -->
                <h2><br/><span class="productName">REPLACE</span></h2>
                <div class="price">$REPLACE</div>
                <ul class="actions">
                    <li><a href="#">Re-lift</a></li>
                    <li><a href="#" class="btnSetAside">Save</a></li>
                    <li><a href="#" class="modal" data-modalType="share">Share</a></li>
                    <li><a href="#">Buy</a></li>
                </ul>
            </div>
            <img src="/img/global/saved.png" alt="Saved" border="0" class="saved" />
            <img src="../img/REPLACE.jpg" alt="REPLACE" width="383" height="383" />
        </div>
        <div class="productMeta">
            <div class="comment">
                <p><span class="commentText">REPLACE</span></p>
                <p><span class="commentDate">REPLACE</span></p>
            </div>
            <div class="add-tag">
                <form action="hashtags" method="post" name="add_tag_form">
                  <img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>
                  <input type="text" class="text" name="hashtag_value" value="Add a Tag" /> 
                  <input type="hidden" name="item_id" /> 
                  <input type="submit" name="submit" class="addSubmit" />
                </form>
            </div>
            <div class="tags">
                <div class="scrollWrap">
                    <ul class="tagList">
                        <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="productTattle">
              <a href="#" class="modal" data-modal-rails="report_item">Flag Item</a> |
              <a href="#" class="modal" data-modal-rails="report_tag">Report a Tag</a>
            </div>
        </div>
    </div>
</div>
