<div class="entry">
<div class="entryHead">
  <a href="#"> <img src="../img/user-large-kelly.jpg" width="70" height="70" alt="Bio Photo" /> </a>
  <p class="user"><a href="#">Kelly Beall (temp left as sample)</a><br/><span class="location">New York, NY</span></p>
</div>
<div class="productMain">
  <div class="product">
    <div class="productDetails">
      <h2>Anthropologie<br/><span class="productDescription">red dress</span></h2>
      <div class="price">$XXX</div>
      <ul class="actions">
        <li><a href="#">Re-lift</a></li>
        <li><a href="#">Save</a></li>
        <li><a href="#" class="modal" data-modalType="share">Share</a></li>
        <li><a href="#">Buy</a></li>
      </ul>
    </div>
    <img src="../img/product-large-dress.jpg" alt="dress" width="383" height="383" />
  </div>
  <div class="productMeta">
    <div class="comment">
      <p>Comment quis hendrerit et tation, facilisi vel duis commodo vulputate. Comment quis hendrerit et tation.</p>
      <p>3:00 on Friday</p>
    </div>
    <div class="add-tag">
      <form action="#">
        <img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/><input type="text" class="text" name="tag" value="Add a Tag" /><input type="submit" name="submit" class="addSubmit" />
      </form>
    </div>
    <div class="tags">
      <div class="scrollWrap">
        <ul class="tagList">
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
          <li><a href="#"><img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>Lorem Ipsum Tag</a></li>
        </ul>
      </div>
    </div>
    <div class="productTattle"><a href="#" class="modal" data-modalType="flagItem">Flag Item</a> | <a href="#" class="modal" data-modalType="reportTag">Report a Tag</a></div>
  </div>
				</div>
			</div>
