<a id="top"></a>
<div class="headWrap">
  <div class="header">
    <h1><a href="">The Shoplift</a></h1>
    <% if user_signed_in? %>
    <div class="navigation">
      <a class="logout" href="/logout">Sign Out</a>
      <ul class="mainNav">
        <li><a href="#">Add</a></li>
        <li><a href="#">Follow</a></li>
        <li><a href="#">Saved</a></li>
      </ul>
      <form action="#" class="search">
        <input type="text" class="text search" name="search" value="Search" /><input type="submit" name="submit" class="searchSubmit" />
      </form>
      <a href="#" class="profilePhoto">
        <%= image_tag current_user.avatar.url(:thumb) %>
      </a>
    </div>
  <% end %>
  </div>	
</div>	
