<% provide(:title, 'Bookmarklet and Buttons') %>
<div id="content" class="internal help">
  <h2>Buttons</h2>
  <div class="entry">
    <h3>Try Out Our Bookmarklet</h3>

    <p>Add items as you see them on the web - with one click.</p>

    <h3>To install the bookmarklet in <span id="browser"></span></h3>
    <ol>
      <li>Make sure your bookmarks bar is showing. If it's not, click [wrench > tools > always show bookmarks bar] (need to customize this language to each browser)</li>
      <li>
        Click and drag the Bookmarklet button directly to your Bookmarks Bar. Place it somewhere each to spot.
        <center>
          <%= link_to "lift It", "javascript:(function(){var%20id='shoplift-bookmarklet-script',s=document.getElementById(id);if(s)s.parentNode.removeChild(s);s=document.createElement('script');s.setAttribute('src','#{bookmarklet_url(:format => :js)}?z='+(Math.random()));s.setAttribute('type','text/javascript');s.setAttribute('id',id);document.body.appendChild(s);})();", :class => 'button' %>
          </center>
      </li>
      <li>When you see an item you like, just click the button to Shoplift it - we'll take care of all the rest.</li>
    </ol>

    <%#<h3>Install the Follow Me Button</h3>%>
    <%#<p>Give your fans more of what they want: you.</p>%>
    <%#<p>The Follow Me Button is basically a fancy type of link: your friends and followers can click on it, and we'll take them directly to your profile at The Shoplift. It's like walking through a door into a store you've curated.</p>%>
    <%#<p>You can embed the buttons on your website, blog, or anyplace else. Just choose the button below that you want, and copy and paste the HTML code into your site, wherever you want it to appear.</p>%>
    <%#<p>Steal business with Shoplift for stores</p>%>
    <%#<p>Invite your customers to Shoplift your items - and let them do the selling for you.</p>%>
    <%#<p>The Shoplift Button for Stores works just like the "Tweet" or "Like" buttons: you place it near an item you're selling, and your customers can click it to add your items to their collection at The Shoplift. Members who follow those customers, in turn, see the item the next time they visit The Shoplift.</p>%>
    <%#<p>To install the Shoplift Button for Stores, add the following code to your page, right where you want the button to appear. (It works best if you place it near other social buttons, such as Tweet, Like, and Pin.)</p>%>
    <%#<p>And add this code to your page, directly above the closing </body> tag:</p>%>
    <%#<p>That's it! For more info, see our Help page.</p>%>
  </div>
</div>
<script>
  function getBrowserName(){
    var userAgent = navigator.userAgent.toLowerCase();
    $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());

    if($.browser.msie){
      return 'Internet Explorer';
    } else if($.browser.chrome){
      return 'Chrome';
    } else if($.browser.safari){
      return 'Safari';
    } else if($.browser.mozilla){
      if(navigator.userAgent.toLowerCase().indexOf('firefox') != -1){
        return 'Firefox';
      } else{
        return 'Mozilla';
      }
    } else if($.browser.opera){
      return 'Mozilla';
    }
    return 'browser';
  }
  $('#browser').html(getBrowserName());
  
</script>
