<% provide(:title, 'Contact Us') %>
<div id="content" class="internal help">
  <h2>Contact Us</h2>

  <div class="entry">
    <p><b>Suggestions</b></p>

    <p>Ideas or suggestions? Let us know what you think.
    (Seriously - we love feedback!)</p>
    <p>SuggestionBox@TheShoplift.com</p>
    <br />

    <p><b>Stories</b></p>
    <p>Have a fun story relating to The Shoplift?
    Tell us the juicy details - you could get featured on our blog!</p>
    <p>ThisReallyHappened@TheShoplift.com</p>
    <br />

    <p><b>Partnerships</b></p>
    <p>Are you a designer, retailer, professional blogger?
    Want to explore partnership opportunities?</p>
    <p>Partnerships@TheShoplift.com</p>
    <br />

    <p><b>Questions</b></p>
    <p>Have a question? Check our Help page or ask us directly:</p>
    <p>Support@TheShoplift.com</p>
  </div>
</div>