<% provide(:title, 'Follow sub categories') %>
<div class="leftCol">
  <%= render "follow_options" %>
</div>

<div class="rightCol">
</div>

<div class="clear"></div>
<script>
  suggestions('/recommended');
  function handle_follow() {
    $('.can_follow').click(function () {
      var that = $(this);
      $.ajax({
        url:'/subscriptions',
        type:'POST',
        data: 'user_id='+$(that).attr('userId'),
        dataType:'json',
        success:function(data) {
          that.removeClass('can_follow');
          that.disable();
        },
        error:function(xhr,textStatus,errorThrown){
          alert(xhr.responseText);
        }
      });
    });
  }
</script>
</script>

