<% provide(:title, 'Follow') %>
<h2>follow me to the moon....</h2>
<% @users.each do |user| %>
  <div>
    <a href="#" class="can_follow" userId="<%= user.id %>"><%= user.full_name %></a>
  </div>
<% end %>
<div class="clear"></div>
<script>
  $('.can_follow').click(function () {
    var that = $(this);
    $.ajax({
      url:'/subscriptions',
      type:'POST',
      data: 'user_id='+$(that).attr('userId'),
      dataType:'json',
      success:function(data) {
        that.removeClass('can_follow');
        that.disable();
      },
      error:function(xhr,textStatus,errorThrown){
        alert(xhr.responseText);
      }
    });
  });
</script>

