<%= render "posts" %>
<%= render "postsTOBEREMOVED" %>
<div class="clear"></div>
<div id="basic-modal-content"></div>

<script>
  var timeline ;
  $.ajax({
    url:'/timelines',
    type:'GET',
    dataType:'json',
    success:function(data) {
        timeline = data;
        initPage();
    },
    error:function(XMLHttpRequest,textStatus,errorThrown){}
  });

  var postCount = 0;
  var scrollCount = 0;
  var lastScrollTop = 0;
  var scrollHeight = $('div .entryTemplate').height()-300;

  // setup scroll counts and load first two entries
  function initPage() {
      postCount = timeline.timeline.length
      for (i = 0; i < 2; i++) {
          showPost(i);
          scrollCount++;
      }
  }
  $(window).scroll(function(){
    var scrolltop = $(window).scrollTop();
    if ((scrolltop - lastScrollTop > scrollHeight) && scrollCount < postCount ) {
        showPost(scrollCount);
        lastScrollTop = scrolltop;
        scrollCount++;
    }
  });
  function showPost(index) {
    var post = timeline.timeline[index];
    var entry = $('div .entryTemplate');
    $('div .clear').before('<div class="entry">'+entry.html()+'</div>');
    $('div.entryHead p a').last().html(post.user.extract.full_name); 
    $('div.entryHead span.location').last().html(post.user.extract.hometown);
    if (post.hashtags_allowed) {
      for (iTag = 0; iTag < post.hashtags.length; iTag++) {
       var clone = $('div.entryTemplate ul.tagList li').clone();
       clone.appendTo('div.entry:last ul.tagList');
       clone.find('a').html(clone.find('a').html()+post.hashtags[iTag].value);
      }
      $('div.entry:last ul.tagList a:first').remove();
    } else {
      $('div.add-tag').last().remove();
      $('div.entry:last ul.tagList').remove();
    }
    $('div.comment p span.commentText').last().html(post.comment);
    $('div.comment p span.commentDate').last().html(formatDate(post.created_at));
    $('div.price').last().html('$'+Math.round(post.price));
    $('div.product span.productName').last().html(post.name);
    $('div.product img').last().attr('src', post.photo_url);
    var html = $('div.productDetails h2').last().html();
    $('div.productDetails h2').last().html(post.brand+html);
    sitefuncs(); // run page actions written by seamlesscreative.com
  }
  </script>
