<% provide(:title, 'Home') %>
<%= render "posts" %>
<%= render "postsTOBEREMOVED" %>
<div class="clear"></div>
<div id="basic-modal-content"></div>

<script>
  var timeline ;
  $.ajax({
    url:'/timelines',
    type:'GET',
    dataType:'json',
    success:function(data) {
        timeline = data;
        initPage();
    },
    error:function(XMLHttpRequest,textStatus,errorThrown){}
  });

  var postCount = 0;
  var scrollCount = 0;
  var lastScrollTop = 0;
  var scrollHeight = $('div .entryTemplate').height()-300;

  // setup scroll counts and load first two entries
  function initPage() {
      postCount = timeline.timeline.length
      for (i = 0; i < 2; i++) {
          showPost(i);
          scrollCount++;
      }
  }
  $(window).scroll(function(){
    var scrolltop = $(window).scrollTop();
    if ((scrolltop - lastScrollTop > scrollHeight) && scrollCount < postCount ) {
        showPost(scrollCount);
        lastScrollTop = scrolltop;
        scrollCount++;
    }
  });
  function showPost(index) {
    var post = timeline.timeline[index];
    var entry = $('div .entryTemplate');
    $('div .clear').before('<div class="entry">'+entry.html()+'</div>');
    $('div.entryHead p a').last().html(post.user.extract.full_name); 
    $('div.entryHead span.location').last().html(post.user.extract.hometown);
    if (post.hashtags_allowed) {
      for (iTag = 0; iTag < post.hashtags.length; iTag++) {
       var clone = $('div.entryTemplate ul.tagList li').clone();
       clone.appendTo('div.entry:last ul.tagList');
       clone.find('a').html(clone.find('a').html()+'<span>'+post.hashtags[iTag].value+'</span>');
      }
      $('div.entry:last ul.tagList a:first').remove();
    } else {
      $('div.add-tag').last().remove();
      $('div.entry:last ul.tagList').remove();
    }
    $('div.comment p span.commentText').last().html(post.comment);
    $('div.comment p span.commentDate').last().html(formatDate(post.created_at));
    $('div.add-tag input[name=item_id]').last().val(post.id);
    $('form[name=add_tag_form]').last().submit(function () {
      var this_form = $(this);
      $.ajax({
        url:'/hashtags/create',
        type:'POST',
        dataType:'json',
        data: $(this).serialize(),
        success:function(data) {
          var clone = this_form.parent().parent().find('.tagList li').last().clone();
          clone.appendTo(this_form.parent().parent().find('.tagList'));
          var lastLink = clone.find('a').last();
          $(lastLink).find('span').html(data.value);
          $(this_form).find('input[name=hashtag_value]').val('');
        },
        error:function(xhr,textStatus,errorThrown){
          alert(xhr.responseText);
        }
      });
      return false;
    });
    $('div.price').last().html('$'+Math.round(post.price));
    $('div.product span.productName').last().html(post.name);
    $('div.product img').last().attr('src', post.photo_url);
    $('.bioPhoto').last().attr('src', post.user.avatar_url_small);
    var html = $('div.productDetails h2').last().html();
    $('div.productDetails h2').last().html(post.brand+html);
    // If the set_aside is not defined then make the appearance of the entry convey that.
    $('a.btnSetAside').last().data('item_id', post.id);
    if(post.set_aside == undefined){
      $('a.btnSetAside').last().html('Save');
      $('a.btnSetAside').last().data('set_aside_id', '');
      $('img.saved').last().hide();
    }else{
      $('a.btnSetAside').last().data('set_aside_id', post.set_aside.id);
      $('a.btnSetAside').last().html('Un-Save');
      $('img.saved').last().show();      
    }     
    sitefuncs(); // run page actions written by seamlesscreative.com
  }
  // Add a click listener to Save/Un-Save item
  $('a.[class^=btn]').live('click', function(e){
    e.preventDefault(); // Keeps from invoking the href="#" of the anchor tag after the ajax completes
    _this = $(this);
    if($(_this).data('set_aside_id') == ''){  
      // set_aside doesn't exist so create it
      $.ajax({
        url: '/set_asides',
        type: 'POST',
        data:  'item_id=' + $(_this).data('item_id'),
        success: function(post){
          $(_this).closest('div.productDetails').next('img.saved').show();
          $(_this).html('Un-Save');
          $(_this).data('set_aside_id', post.set_aside.id);
        }
      }); 
    }else{
      // set_aside exists so delete it
      $.ajax({
        url: '/set_asides/items/' + $(_this).data('set_aside_id') + '/delete',
        type: 'POST',
        success: function(rsp){
          $(_this).closest('div.productDetails').next('img.saved').hide();          
          $(_this).html('Save');
          $(_this).data('set_aside_id', '');
        }
      });     
    }
  });  
</script>