<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="assets/bootstrap.min.css">
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet" href="assets/bootstrap-responsive.css">-->
	<link href="assets/landing.css" rel="stylesheet" type="text/css">

	<%= javascript_include_tag "landing" %>

</head>
<body>
	<div id="landing-container">
		
	</div>



</body>
</html>