<% provide(:title, 'Privacy Policy') %>
<div class="centerCol">
  <div class="entry">
    <h2>Privacy Policy</h2>

    <p><br />
    </p>

    <p><br />
    </p>

    <p><i>This Privacy Policy (or “Policy”) was last modified on May 29, 2012 and was first published and made effective May 2012.</i></p>

    <p><br />
    </p>

    <p>At The Shoplift, we take privacy seriously. We appreciate the trust you place in us by joining and using our platform, and we are committed to safeguarding your privacy along the way.</p>

    <p><br />
    </p>

    <p>In order to provide you the best possible experience, we must collect and use a variety of information about you. This Policy explains what we collect, how we use it, and who we may share it with.</p>

    <p><br />
    </p>

    <p>This Policy is a constituent part of our <a href='/terms_of_service'>Terms of Use</a>; it governs your use of this website, and any other websites and/or mobile applications developed by or on behalf of Shoplift Inc. (We refer to these products and services, collectively, as the “Services.”) Its terms apply to all users of the Services, whether or not you have registered for membership, Posted User Content, or downloaded any of our mobile applications. Please read the below provisions carefully. If you do not agree with this Policy or any part of it, you should not, and are not permitted to, use the Services. </p>

    <p><br />
    </p>

    <p>Note that this Policy does not govern the use of any third-party websites or applications, including without limitation third-party websites or applications that provide access to The Shoplift or to data or content owned or licensed by Shoplift Inc. Please consult the privacy policy of any website or application, and familiarize yourself with its terms, before you begin using it.</p>

    <p><br />
    </p>

    <p><br />
    </p>

    <p><b>Information we collect about you:</b></p>

    <p><br />
    </p>

    <ol > <li>We collect information that you voluntarily provide in order to become a registered user of our Services, and when you update your profile in the course of using the Services. (For example, we collect your name, email address, location information, and various other background information this way.)</li>
    </ol><p><br />
    </p>

    <ol > <li>You may join the Services by logging in to your Facebook account; and you may establish linkages between your account at The Shoplift and your accounts at Facebook, Twitter, and/or Pinterest (collectively, “Other Social Networks”). When you do so we may collect certain publicly accessible information about you. (For instance, we may collect your name and profile photo.) </li>
    </ol><p><br />
    </p>

    <p>We may also collect nonpublic information about you, as permitted by the privacy settings you have established on the Other Social Networks to which you allow access. This information generally helps us create a more social environment. (For example, knowing who your Facebook friends are allows us to help you find and follow them at The Shoplift.) </p>

    <p><br />
    </p>

    <p>In short, you should assume that we are collecting any information about you permitted by the privacy settings you establish on Other Social Networks. Please consult the privacy policies of, and check your personal privacy settings on, Facebook, Twitter, and Pinterest before allowing us to access your accounts at these platforms.</p>

    <p><br />
    </p>

    <ol > <li>We collect other information that you voluntarily provide in the course of using the Services, such as when you enter an email address on a form to send an email from your account at The Shoplift. </li>
    </ol><p><br />
    </p>

    <ol > <li>We collect information associated with User Content you Post. This includes information we collect from third-party websites (such as item images, brands, item names, and prices), information you contribute manually (such as comments and tags), and the record of various usage decisions you make (such as the decision to follow or unfollow other users, or the decision to save or unsave a particular item). </li>
    </ol><p><br />
    </p>

    <ol > <li>Our servers automatically record certain information (“Log Data”) that your web browser and/or mobile application sends when you use the Services. Log Data may include, without limitation, information about your device and software (such as browser type, IP address, referring domain, mobile device type, operating system, software version, geographic location, and mobile carrier) and information about your navigation and activity within the Services (such as pages visited, items viewed, navigation path taken, and certain timing information). We may also employ one or more cookies that may uniquely identify your web browser. These cookies may or may not be deleted from your computer when you log off from the Services or close your browser. You should customize your browser settings to meet your personal privacy preferences regarding the use of cookies. </li>
    </ol><p><br />
    </p>

    <p>Across all five of these categories of information we collect, the information we collect includes information that can be used to identify or contact you (“Personal Information”). We collect other, non-identifying information as well; but we may sometimes collect non-identifying information in combination with Personal Information, or store, use, or share the two kinds of information together, in a way that enables you to be personally identified or contacted. </p>

    <p><br />
    </p>

    <p><b>How we use the information we collect:</b></p>

    <p><br />
    </p>

    <p><br />
    </p>

    <p><br />
    </p>

    <ol > <li>We primarily use the information we collect about you to improve the quality of the Services and to customize your experience and the experience of other users using the Services. This includes Personal Information (for instance, we use your name and photo to showcase the items you share when we show them to other users) and non-identifying information (for instance, we use what we know about your taste to show you items and users we believe will be relevant to you).</li>
    </ol><p><br />
    </p>

    <ol > <li>We use the information we collect about you, including Personal Information, for a variety of administrative purposes – for example, to administer your account; to provide you with customer support; to respond to your requests; to resolve disputes and/or troubleshoot problems; to verify your compliance with our <a href='/terms_of_service'>Terms of Use</a>; and to communicate with you about the Services.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may use the information we collect about you to market products and services (either our own or those of third parties) that we believe may be of interest to you, including the serving of personalized advertisements, though we will not disclose your Personal Information in doing so. For example, if you’ve been browsing for skinny jeans lately (or if we believe you are influential among users likely to browse for skinny jeans), we might show you ads for skinny jeans (or tell ad networks to serve you ads for skinny jeans). We will not tell any clothing retailer or fashion brand your name or disclose any other Personal Information without your permission.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may send you communications via email (or text message, or other format) about the Services. You can opt out (or modify the frequency) of certain of these communications by changing the Notifications Settings on your profile.</li>
    </ol><p><br />
    </p>

    <p><br />
    </p>

    <p><b>Sharing information about you:</b></p>

    <p><br />
    </p>

    <ol > <li>We share some of the information we collect, including both Personal Information and non-identifying information, publicly within the Services. For instance, other members can view your name, photo or logo, and other profile information you provide. Other members can also see lists of items you’ve Posted, users whom you follow, and users who follow you. And other users of the Services, whether or not members, may be able to view the items you’ve Posted and other User Content associated with those items.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may also share some of the information we collect about you privately, with individual users of the Services, in order to improve the experience for you, those individual users, or all users. For instance, if we believe that another user is likely to share or appreciate your taste, we may recommend that he or she follow you, and we may include your name and profile on a customized screen we show that user.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may share information about you with any Other Social Networks you have linked to your account, subject to the Linked Accounts settings you establish. For instance, if you have asked us to do so, we will post to your Facebook or Twitter account each time you Post an item at The Shoplift. You may adjust these settings, or disconnect any linked account, at any time by clicking “Edit Profile” on your profile page.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may share information about you, including Personal Information, with third parties who perform development, maintenance, or analytics functions on our behalf, or who or provide other services required to improve the overall experience for our users. For example, we may contract with third-parties to manage our database infrastructure or to perform the statistical analysis which helps us to spot trends and identify influencers. Such third parties will have access only to the limited information they require, and they will be obligated not to disclose or use it for any other purpose.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may share aggregated information that does not include Personal Information, and we may otherwise disclose non-identifying information and log data with third parties for industry analysis, demographic profiling and other purposes. Any aggregated information shared in these contexts will not contain your Personal Information. </li>
    </ol><p><br />
    </p>

    <ol > <li>When you enter sweepstakes, contests, or other games of skill while using the Services, you are authorizing our disclosure of your name and any relevant profile information to any third party (or third parties) that is (or are) a co-sponsor of, or otherwise involved in, the applicable sweepstakes, contest, or game of skill.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may share information about you with government and law enforcement officials, or with private parties for the purpose of enforcing or complying with the law. We may also share information about you to respond to legal claims or processes (including, without limitation, subpoenas), to aid in the protection of our rights or the rights of third parties, to protect the safety of the public or of any person, or to prevent or stop activity we consider (in our sole discretion) to be, or to pose a risk of being, dangerous, illegal, unethical, or legally actionable.</li>
    </ol><p><br />
    </p>

    <ol > <li>We may sell, divest, transfer, assign, share, or otherwise engage in a transaction that involves some or all of our assets, including any or all of the information described in this Policy, in the course of a corporate divestiture, merger, acquisition, joint venture, bankruptcy, dissolution, reorganization, or any other similar transaction or proceeding. </li>
    </ol><p><br />
    </p>

    <p><br />
    </p>

    <p><br />
    </p>

    <p><b>Other provisions</b></p>

    <p><br />
    </p>

    <p>If you are a registered user of the Services, you may access and modify your account information via your Profile page on our website. Due to the social nature of our platform, most other information you share (including, without limitation, most User Content which you Post) cannot be modified or deleted by you once it has been shared.</p>

    <p><br />
    </p>

    <p>The Shoplift follows the guidelines established by the Federal Children’s Online Privacy Protection Act of 1998 (COPPA). We will never knowingly accept or solicit personally identifiable information from a user known to be under the age of 13. If you have a concern about the privacy of children or any child, please contact us at support@theshoplift.com to let us know.</p>

    <p><br />
    </p>

    <p>Note that we may modify this Policy from time to time at our sole discretion. The best way to stay informed about changes to this Policy is to check back frequently at this website. We will notify you of any changes by posting the new Policy here and updating the “last modified” date at the top of this page. </p>

    <p><br />
    </p>

    <p>Please see our <a href='/terms_of_service'>Terms of Use</a> for further information on your rights and responsibilities. </p>

    <p><br />
    </p>

    <p>Thanks and enjoy using the Shoplift!</p>
  </div>
</div>