<% provide(:title, 'Profile Edit') %>
<%= render 'users/profile_info', user: current_user %>

  <div class="rightCol">
    <div class="entry settings">
      <h2>Edit Your Profile Settings</h2>
      <form action="/users/<%= current_user.id %>/edit" id="user_form" method="post" >
        <h3>Personal Settings</h3>
        <ul class="formList">
          <li>
            <label for="fullName">Name</label>
            <input type="text" class="text" name="user[full_name]" id="fullName" />
          </li>
          <li>
            <label for="email">Email</label>
            <input type="text" class="text" name="user[email]" id="email" />
          </li>
          <li>
            <label for="password">Password</label>
            ********************
              <a href="#">Change Password</a>
          </li>
          <li>
            <label for="country">Country</label>
            <select name="country" id="country">
              <option>United States</option>
              <option>Canada</option>
            </select>
          </li>
          <li>
            <label for="zipcode">Zip Code</label>
            <input type="text" class="text" name="user[zipcode]" id="zipcode" />
          </li>
          <li>
            <label for="bio">Bio</label>
            <textarea name="user[biography]" id="bio"></textarea>
            <span class="characterCount">XXX Characters Left</span>
          </li>
          <li>
            <label for="url">Website</label>
            <input type="text" class="text" name="user[url]" id="url"/>
          </li>
          <li>
            <label for="photo">Photo or Logo</label>
            <img src="img/user-large-john.jpg" id="formImage" alt="profile-large"/>
            <p>
              <a href="#" class="modal" data-modalType="upload_avatar" data-modal-rails="upload_avatar">Upload a New Photo</a><br/>
              <a href="#">Refresh from Facebook</a><br/>
              <a href="#">Refresh from Twitter</a>
            </p>
          </li>
        </ul>
        <ul class="formList radioList">
          <li>
            <div class="radioDesc">Gender:</div>
            <input type="radio" class="radio" name="user[sex]" value="true" id="sex-male" /><label for="sex-male">Male</label>
            <input type="radio" class="radio" name="user[sex]" value="false" id="sex-female" /><label for="sex-female">Female</label>
          </li>
        </ul>
        <h3>Notification Settings</h3>
        <ul class="formList radioList">
          <li>
            <div class="radioDesc">Tell me when someone new starts following me:</div>
            <input type="radio" class="radio" name="user[notify_new_follower]" value="true" id="newFollow-yes" /><label for="newFollow-yes">Yes</label>
            <input type="radio" class="radio" name="user[notify_new_follower]" value="false" id="newFollow-no" /><label for="newFollow-no">No</label>
          </li>
          <li>
            <div class="radioDesc">Tell me when someone relifts an item of mine:</div>
            <input type="radio" class="radio" name="user[notify_relift]" value="true" id="relift-yes" /><label for="relift-yes">Yes</label>
            <input type="radio" class="radio" name="user[notify_relift]" value="false" id="relift-no" /><label for="relift-no">No</label>
          </li>
          <li>
            <div class="radioDesc">Update me on what I've been missing:</div>
            <input type="radio" class="radio" name="user[notify_missing]" value="daily" id="missing-daily" /><label for="missing-daily">Daily</label>
            <input type="radio" class="radio" name="user[notify_missing]" value="weekly" id="missing-weekly" /><label for="missing-weekly">Weekly</label>
            <input type="radio" class="radio" name="user[notify_missing]" value="monthly" id="missing-monthly" /><label for="missing-monthly">Monthly</label>
            <input type="radio" class="radio" name="user[notify_missing]" value="never" id="missing-never" /><label for="missing-never">Never</label>
          </li>
        </ul>
        <h3>Linked Accounts</h3>
        <ul class="formList">
          <li>
            <label>Facebook</label>
            <div class="pillbox"><a href="#" class="current onLink">On</a><a href="#" class="offLink">Off</a></div>
          </li>
          <li>
            <label>Twitter</label>
            <div class="pillbox"><a href="#" class="onLink">On</a><a href="#" class="current offLink">Off</a></div>
          </li>
          <li>
            <label>Pinterest</label>
            <div class="pillbox"><a href="#" class="current onLink">On</a><a href="#" class="offLink">Off</a></div>
          </li>
        </ul>
        <h3>Follow Me</h3>
        <p>Embed this button on your blog or website! Just copy the code below and paste it into your site where you'd like it to appear.</p>
        <div class="code">&lt;a href="#"&gt;Lorem Ipsum Code Lorem Ipsum Code Lorem Ipsum Code Lorem Ipsum Code&lt;/a&gt;</div>
        <div class="divider"></div>
        <input type="submit" name="submit" value="Save Settings" class="submit" />
      </form>
    </div>
  </div>

  <div class="clear"></div>
  <div id="basic-modal-content"></div>
  <script>
    $('#user_form').submit(function () {
      $.ajax({
        url:'/users/<%= current_user.id %>/edit',
        type:'POST',
        data: $('#user_form').serialize(),
        dataType:'json',
        success:function(data) {
          window.location = '/page/follow_interests';
        },
        error:function(XMLHttpRequest,textStatus,errorThrown){
            alert(XMLHttpRequest.responseText);
        }
      });
      return false;
    });
    var user;
    var avatar_url_thumb;
    var avatar_url_small;
    var first_time = true;
    function getUserInfo() {
      $.ajax({
        url:'/users/<%= current_user.id%>/info',
        type:'GET',
        dataType:'json',
        success:function(data) {
            user = data.extract;
            avatar_url_thumb = data.avatar_url_thumb;
            avatar_url_small = data.avatar_url_small;
            if (first_time) {
              initPage();
            }
            setAvatars();
            first_time = false;
        },
        error:function(xhr,textStatus,errorThrown){
          alert(xhr.responseText);
        }
      });
    }

    getUserInfo();

    function initPage() {
      if (window.console) console.log(user.last_name);
      $('#fullName').val(user.full_name);
      $('#email').val(user.email);
      $('#vanity_url').val(user.vanity_url);
      $('#url').val(user.url);
      $('#country').val(user.country);
      $('#zipcode').val(user.zipcode);
      $('#bio').val(user.biography);
      if (user.sex == true) {
        $('#sex-male').attr('checked', true);
      } else {
        $('#sex-female').attr('checked', true);
      }
      if (user.notify_new_follower == true) {
        $('#newFollow-yes').attr('checked', true);
      } else {
        $('#newFollow-no').attr('checked', true);
      }
      if (user.notify_relift == true) {
        $('#relift-yes').attr('checked', true);
      } else {
        $('#relift-no').attr('checked', true);
      }
      if (user.notify_missing == 'daily') {
        $('#missing-daily').attr('checked', true);
      } else if (user.notify_missing == 'weekly') {
        $('#missing-weekly').attr('checked', true);
      } else if (user.notify_missing == 'monthly') {
        $('#missing-monthly').attr('checked', true);
      } else if (user.notify_missing == 'never') {
        $('#missing-never').attr('checked', true);
      }
    }
    function setAvatars() {
      $('div.person img').last().attr('src', avatar_url_small);
      $('a.profilePhoto img').last().attr('src', avatar_url_small);
      $('#formImage').attr('src', avatar_url_thumb);
    }
    function reloadAvatars() {
      getUserInfo();
    }

    $('.onLink').click(function () {
      alert('To Be Implemented');
      return false;
    });
    $('.offLink').click(function () {
      alert('To Be Implemented');
      return false;
    });
    $(document).ready(function () {
      console.log($('#bio').html());
      $('.characterCount').html(110-($('#bio').html().length)+' Characters Left');
    });
    $('#bio').keyup(function () {
      console.log($('#bio').val().length);
      $('.characterCount').html(110-($('#bio').val().length)+' Characters Left');
    });
</script>
