<!doctype html>
<html lang="en">
  <%= render "header" %>
<body>
  <%= render "subhead" %>
	<div id="content">
    <h1>To Be inplemented </h1>
		<div class="clear"></div>
	</div>	
  <%= render "footer" %>
</body>
</html>

