<!doctype html>
<html lang="en">
  <%= render "layouts/header" %>
<body>
  <%= render "layouts/subhead" %>
	<div id="content">
    <h1>To Be inplemented </h1>
		<div class="clear"></div>
	</div>
  <%= render "layouts/footer" %>
</body>
</html>

