<% provide(:title, 'Terms of Service') %>
<div id="content" class="internal help">
  <h2>Terms of Use</h2>
  <div class="entry">
    <p><i>These Terms were last revised May 29, 2012.</i></p>

    <p>Hi, welcome to The Shoplift! </p>



    <p>Below we describe our Terms of Use (or “Terms”). You should read these Terms carefully. They are a contract between us and you. (Throughout these Terms, we use “The Shoplift,” “Shoplift Inc.” and the pronouns “we,” “us,” and “our” interchangeably; and we use “you” or “your” to refer to the person accessing this site or our other products and services.)</p>

    <p>These Terms govern your use of this website, our mobile applications, and any other websites and/or mobile applications developed by or on behalf of Shoplift Inc. (We refer to these products and services, collectively, as the “Services.”) </p>

    <p>By visiting this website, you are accepting these Terms, and agreeing to be bound by them in their entirety – whether or not you are registered as a member of The Shoplift. </p>


    <p>If you do not agree to all the terms and conditions below, or if you are unable to form a binding contract with Shoplift Inc., you should not, and are not permitted to, use the Services. </p>



    <p><b>Basic terms and use of the Services</b></p>

    <p>You must be 13 years old to use the Services. </p>

    <p>You must be able to form a binding contract with Shoplift Inc. in order to use the Services.</p>

    <p>You may use the Services only in compliance with these Terms, and with all applicable local, state, national, and international laws, rules, and regulations.</p>

    <p>We may make changes to, or suspend or discontinue, the Services or any constituent part of the Services, at our sole discretion, at any time, without prior notice to you. </p>

    <p>We may set limits on your use of the Services, restrict your access to part or all of the Services, suspend your account, or bar you from using the Services, at our sole discretion, at any time, without prior notice to you. </p>

    <p>As a condition of using certain of the Services, you may be required to create an account and provide certain profile information. You agree that the information you are providing will be accurate, complete, and updated. You need not provide your real name or identity; but you may not use a name (or other identifier, including without limitation vanity URLs, photos, logos, or descriptive text) with the intent to impersonate another person or entity, or with the effect of causing confusion or misleading other users. We maintain sole discretion to decide issues of intent and effect and may modify your profile information, suspend your account, or bar you from using the Services if we think you’re pretending to be someone you’re not.</p>

    <p>You may not transfer your password or other account credentials to any third parties. If someone accesses the Services using your credentials, we will rely on those credentials and assume that it’s really you. You are responsible for the acts and omissions anyone signed in as you. </p>

    <p>You may not, under any circumstances, use the Services or any Content from the Services to generate unsolicited email advertisements or spam; or use any process to access, search, or harvest a high volume of information of any kind, whether automatically or manually.</p>

    <p>You may not do any of the following while accessing or using the Services: (a) access, tamper with, or use non-public areas of the Services, or the computer or delivery systems of Shoplift Inc. and/or its service providers; (b) probe, scan, or test any system or network (particularly for vulnerabilities), or otherwise attempt to breach or circumvent any security or authentication measures; (c) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Shoplift Inc. (and only pursuant to the governing terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Shoplift Inc., or unless permitted by The Shoplift’s robots.txt file or other robot exclusion mechanisms; (d) scrape the Services, and particularly scrape Content (as defined below, including without limitation User Content) from the Services, without express prior written consent from Shoplift Inc.; (e) use the Services to send altered, deceptive, or false source-identifying information, including without limitation by forging TCP-IP packet headers or e-mail headers; or (f) interfere with, or disrupt, (or attempt to do so), the access of any user, host, or network (including, without limitation, by sending a virus to, spamming, or overloading the Services, or by scripted use of the Services in such a manner as to interfere with or create an undue burden on the Services).</p>

    <p>If we suspend your account or bar you from using the Services, you may not create a new account or access the Services again without our written permission.</p>

    <p><b>Content you Post</b></p>

    <p>For purposes of these Terms, the term “Content” refers to information in any format which is uploaded to, downloaded from, accessed via, appearing on, stored within, otherwise directly affiliated with the Services. Content includes, without limitation, text, images, data, and other information relating to products, brands, retailers, and users. </p>

    <p>For purposes of these Terms, the term “Post” means provide Content to the Shoplift by uploading, posting, transferring, sharing, repurposing, lifting, shoplifting, re-lifting, tagging, flagging, reporting, or otherwise taking action within or with respect to the Services. </p>

    <p>You are responsible for any Content that you Post. </p>

    <p>You represent and warrant that you have all the rights, power, and authority necessary to grant the rights granted herein to any Content that you Post. </p>

    <p>If you do not have the right to share something, you should not, and are not permitted to, share it on our platform. </p>

    <p>You may not Post Content which violates the copyright protections, or other intellectual property rights, of others. You are solely responsible for ensuring you comply with copyright laws and other laws when Posting Content. You acknowledge that violating someone else’s copyright (or other intellectual property protection) may subject you to liability. </p>

    <p>You agree not to Post Content that is misleading or incorrect, and you promise to take reasonable steps to ensure the accuracy of any Content you Post. (For example, when Posting an item offered for sale on a retail web site, you agree to verify that the brand, item name, and price you Post are the same as those shown on that retail web site.) </p>

    <p>You agree not to Post User Content that is discriminatory, unlawful, tortious, obscene, fraudulent, defamatory, harmful, threatening, pornographic, indecent, vulgar, harassing, discourteous, hateful, abusive, or racially, ethnically, religiously, sexually, or otherwise offensive (as determined by us in our sole discretion); or that contains any viruses, Trojan horses, spyware, malware, worms, time bombs, cancelbots, or other harmful component intended to damage, interfere with, or intercept, or appropriate any system, data, or information. In short: be nice.</p>

    <p>You assume any and all liability resulting from the Content you Post, including liability resulting from the use of Content you have Post by other users. </p>

    <p>You maintain ownership of all intellectual property rights to any Content you Post. </p>

    <p>By Posting Content, you grant Shoplift Inc. a worldwide, non-exclusive, transferable, sub-licensable, royalty-free license to use, copy, reproduce, process, adapt, modify, publish, transmit, display, and/or distribute the User Content in any and all media or distribution methods now known or later developed. (For purposes of these Terms, we refer to this grant as the “User Content License”). </p>

    <p>Note that this User Content License continues even if you stop using the Services, such as by closing your account. (This is primarily due to the social nature of Content within the Services: once shared with others, Content becomes difficult or impossible for us to delete.)</p>

    <p>This User Content License includes the right for The Shoplift to make Content available to other companies, organizations, or individuals; or to reproduce, syndicate, broadcast, distribute, or publish the Content on other media and services. We may do so at any time and in our sole discretion, subject to our <a href='/privacy'>Privacy Policy</a>. </p>

    <p>Our API, and the rules and methods for accessing Content you have shared, may change over time, without prior notice to you.</p>

    <p>We may make changes to, remove, or refuse to distribute Content, as appropriate in our sole discretion, to ensure an enjoyable experience for all users.</p>

    <p>The Shoplift owes you no compensation for Content you Post.</p>

    <p><b>Content you view</b></p>

    <p>We’ve designed the Shoplift to be a fun and engaging environment. To that end, our software aggregates Content Posted by users and allows you to organize, display, and browse Content in new and creative ways. But any use of, or reliance on, that Content is at your own risk.</p>

    <p>The Shoplift is not a retailer. We sell no products, hold no inventory, and make no pricing or marketing decisions with respect to the products users Post. Prices and other Content displayed on the Services are shown for entertainment purposes only and do NOT constitute offers. </p>

    <p>Our technology for identifying price and other data related to items Posted by users is imperfect, and it may sometimes result in the display of incorrect information within the Services. In addition, other users may sometimes Post incorrect information along with items they Post. You are responsible for determining the accuracy of any information on which you rely, including without limitation the price and availability of items you see while using the Services. </p>

    <p>If you are considering a purchase, we encourage you to click through to the retailer’s website and check the price and availability of the item. You should also check the accuracy, currency, suitability, and quality of any other information you see on the Services; and perform any other research required to make an informed decision as a consumer. The Shoplift is not a reliable primary source of product information or customer reviews, and you agree not to use the Services for the purposes of consumer research. </p>

    <p>We cannot monitor, and do not endorse, acts of expression contained in User Content. By using the Services, you acknowledge you may be exposed to Content you find offensive, harmful, or inappropriate. We encourage you to flag inappropriate items and report inappropriate tags; but we cannot guarantee all users will behave respectfully.</p>

    <p>User Content of a medical, health, or nutrition-related nature (such as Comments or Tags accompanying food items) are not intended to be medical advice; and no physician-patient relationship is, or is intended to be, created by User Content. You are not permitted to provide medical, health, or nutrition advice, or to form a physician-patient relationship, within the Services. </p>

    <p>You are responsible for any Content you share on other social networks or via email or other format, as well as any liability that arises from your sharing of such Content, whether or not the Content was originally Posted to the Services by you. </p>

    <p>The Services may contain links to third-party websites and to other resources that are not owned or controlled by us, including without limitation the websites of retailers and fashion and merchandise brands (collectively, “Third Party Websites”). We do not endorse any Third Party Websites; and we are not responsible or liable for Content on Third Party Websites, whether or not you view the Third Party Websites using our software (e.g., when viewing a retailer’s website via our mobile application’s built-in browser function). </p>

    <p>We are not a party to any transaction between you and a Third Party Website, including without limitation retail transactions, whether or not such transactions take place using our software. We do not monitor or take part in such transactions. You acknowledge sole responsibility for your use of Third Party Websites, and you assume all risk associated with such use. </p>

    <p>To the extent permitted under applicable laws, you hereby release Shoplift Inc. from any liability related to: (a) any incorrect or inaccurate Content posted on the Services, whether caused by any user of the Services or by any of the equipment or programming used in or associated with the Services; (b) the conduct, whether online or offline, of any user of the Services; (c) any loss or damage caused by Content posted on the Services or transmitted by or to users of the Services; and (d) any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, Content. </p>

    <p>If you are a California resident, you hereby waive California Civil Code Section 1542, which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."</p>

    <p><b>Intellectual property rights in the Services</b></p>

    <p>The Shoplift grants you a personal, worldwide, royalty-free, non-assignable, and non-exclusive license to use the software that is provided to you by The Shoplift as part of the Services. We grant this license for the sole purpose of enabling you to use and enjoy the benefit of the Services in the manner permitted by these Terms. We may revoke this license at any time, at our sole discretion.</p>

    <p>All right, title, and interest in and to the Services (excluding User Content rights as described above) are and will remain the exclusive property of Shoplift Inc. </p>

    <p>The Services are protected by copyright, trademark, patent pending, and other laws of both the United States and foreign countries. In addition, our compilation and presentation of Content is subject to copyright owned exclusively by us. </p>

    <p>You may download and use the various buttons and other links in the manner described throughout the Services. But you may not otherwise use our name, logos, trademarks, domain names, or other distinctive features of our brand or experience.</p>

    <p><b>Mobile use</b></p>

    <p>We currently provide our mobile services for free, but you understand that your carrier’s normal rates and fees, such as data charges (where applicable), still apply.</p>

    <p>Your use of our mobile app or any other software licensed from Shoplift Inc. through a third-party distributor (such as the Apple iTunes Store or the Android Market) is governed by the applicable that distributor’s current end user license agreement. If there is a conflict between any provision in these Terms and that end user license agreement, the conflicting provision in these Terms will prevail.</p>

    <p><b>Copyright Policy</b></p>

    <p>The Shoplift respects the intellectual property rights of others, and we expect you as a user of our Services to do the same. </p>

    <p>In accordance with the Digital Millennium Copyright Act of 1998, we will respond expeditiously to claims of copyright infringement committed using the Services. </p>

    <p>If you are a copyright owner, or are authorized to act on behalf of one (or under any exclusive right under copyright), please send notice of any alleged copyright infringement(s) to our Copyright Agent at <a href="mailto:copyright@theshoplift.com">copyright@theshoplift.com</a>. </p>

    <p>Your claim should include the following: </p>

    <ul>
    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
    <li>A description of the copyrighted work that you claim has been infringed; </li>
    <li>A description of where the material that you claim is infringing is located on the Site or Services; </li>
    <li>Your address, telephone number, and email address; </li>
    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and </li>
    <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf. </li>
    </ul>

    <p><b>Privacy Policy</b></p>

    <p>We appreciate the trust you place in us as a user and a member of The Shoplift. We take your privacy seriously and will work to safeguard it in the manner described in our <a href='/privacy'>Privacy Policy</a>. You should read and familiarize yourself with this Policy. It is a constituent part of these Terms. </p>

    <p>If you do not wish to be bound by our <a href='/privacy'>Privacy Policy</a> in its entirety, you should not use the Services.</p>

    <p><b>Electronic Communication</b></p>

    <p>We’ll be using the Internet to do most of our communicating, and you consent to receive communications from us in an electronic form. </p>

    <p>You agree that all terms and conditions, agreements, notices, documents, disclosures, and other communications (together, “Communications”) that we provide to you electronically satisfy any legal requirement that such Communications would satisfy if it were provided physically in writing. Your consent to receive Communications and do business electronically, and our agreement to do so, applies to all of your interactions and transactions with us. </p>

    <p>You may withdraw your consent to receive Communications electronically by contacting us at <a href="mailto:support@theshoplift.com">support@theshoplift.com</a>. If you withdraw your consent, from that time forward, you must stop using the Site and Services. The withdrawal of your consent will not affect the legal validity and enforceability of any obligations or any electronic Communications provided or business transacted between us prior to the time you withdraw your consent.</p>


    <p>Please keep us informed of any changes in your email or mailing address so that you continue to receive all Communications without interruption.</p>





    <p><b>Feedback</b></p>



    <p>We encourage you to share ideas and suggest improvements for Services. You may email us anytime at <a href="mailto:feedback@theshoplift.com">feedback@theshoplift.com</a>. </p>



    <p>We may use any feedback you provide to modify our Services or create new Services. You grant us a worldwide, royalty-free, fully paid, perpetual, irrevocable license to use, reproduce, modify, translate, distribute, perform, display, import, sell, offer for sale, make, have made and otherwise exploit the feedback in any form, media, or technology, whether now known or later developed, and to allow others to do the same. </p>



    <p>We will not compensate you for sharing feedback. This includes without limitation paying any royalty related to the product or service that incorporates your feedback. </p>





    <p><b>Other terms</b></p>



    <p>These Terms do not govern the use of any third-party websites or applications, including without limitation third-party websites or applications which provide access to The Shoplift or to data or content owned or licensed by Shoplift Inc. </p>



    <p>Some products and services we offer may be subject to additional guidelines, rules, or terms (“Additional Terms”). For example, we may offer sweepstakes, contests of skill, or promotions for which we post Additional Terms. If there is any conflict between the Terms of Use and the Additional Terms, the Additional Terms will take precedence in relation to that aspect of the Services. Such Additional Terms are hereby incorporated by reference into these Terms of Use.</p>



    <p>The Services, and all Content made available to you the Services, are provided by company “with all faults,” "as is," and "as available." Shoplift Inc. makes no representations or warranties of any kind, whether express or implied, as to the operation of this site or the services, or the content made available through the site and services, including, but not limited to, any warranties of merchantability, fitness for a particular use or purpose, non-infringement, quiet enjoyment, and accuracy. You expressly agree that your use of the site and services is at your sole risk. We make no warranty that the site or services will meet your requirements, or that the site and/or services will be uninterrupted, timely, secure, or error free; nor do we make any warranty as to the results that may be obtained from the use of the site or services, or that defects in the site or services will be corrected. You understand and agree that you will be solely responsible for any damage to your computer or loss of data that results from the download of any material and/or content. No advice or information, whether oral or written, obtained by you from us through the site, services, or otherwise will create any warranty, representation or guarantee not expressly stated in these terms of use. </p>

    <p>You acknowledge and agree that we are only willing to provide access to the site and services if you agree to certain limitations of our liability to you and to third parties. You understand that to the extent permitted under applicable law, in no event will we or our officers, employees, directors, parents, subsidiaries, affiliates, agents or licensors be liable for any indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of revenues, profits, goodwill, use, data, lost opportunities, or business interruptions or other intangible losses (even if such parties were advised of, knew of or should have known of the possibility of such damages, and notwithstanding the failure of essential purpose of any limited remedy), arising out of or related to your use of or access to, or the inability to use or to access, the site or the services, regardless of whether such damages are based on contract, tort, warranty, statute or otherwise. We will not be liable for any damages arising from the transactions between you and third party merchants or for any information appearing on third party merchant sites or any other site linked to our site. If you are dissatisfied with any portion of this site or the services, your sole and exclusive remedy is to discontinue use of the site and the services. Our total liability to you for all claims arising from or related to the site or the services is limited, in aggregate, to ten dollars (US $10.00). We will not be liable for any damages arising from the transactions between you and other members, nor, in any event, will we be liable to you or any third party in connection with any act or omission of any member.</p>

    <p>Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the above limitations and disclaimers may not apply to you. To the extent that we may not, as a matter of applicable law, disclaim any implied warranty or limit liabilities, the scope and duration of such warranty and the extent of our liability will be the minimum permitted under such applicable law. </p>

    <p>Without limiting the foregoing, under no circumstances will we or our licensors be held liable for any delay or failure in performance resulting directly or indirectly from acts of nature, forces, or causes beyond our reasonable control, including, without limitation, internet failures, computer equipment failures, telecommunication equipment failures, other equipment failures, electrical power failures, strikes, labor disputes, riots, insurrections, civil disturbances, shortages of labor or materials, fires, floods, storms, explosions, acts of god, war, governmental actions, orders of domestic or foreign courts or tribunals, or non-performance of third parties. Some states do not allow exclusion of implied warranties, so these exclusions may not apply in individual cases. You may have additional rights that vary from state to state. To the extent that we may not, as a matter of applicable law, disclaim any implied warranty, the scope and duration of such warranty will be the minimum permitted under such applicable law.</p>

    <p>You agree to indemnify, defend and hold harmless Shoplift Inc., our parents, subsidiaries, affiliates, officers, directors, co-branders and other partners, employees, consultants and agents, from and against any and all third-party claims, liabilities, damages, losses, costs, expenses, fees (including reasonable attorneys' fees and court costs) that such parties may incur as a result of or arising from: (i) your use of the site or services, including any content you submit thereto (except to the extent prohibited by law); (ii) your violation of these terms of use; (iii) your violation of any rights of any other person or entity; or (iv) any viruses, trojan horses, worms, time bombs, spyware, malware, cancelbots or other similar harmful or deleterious programming routines input by you into the site or services.</p>



    <p>These Terms of Use and the relationship between you and Shoplift Inc. will be governed by the laws of the State of New York, without giving effect to any choice of laws principles that would require the application of the laws of a different country or state. </p>



    <p>You consent to personal jurisdiction and venue in, and agree to service of process issued or authorized by, any court located in New York. </p>



    <p>These Terms of Use are personal to you, and you may not transfer, assign or delegate your rights and/or duties under these Terms of Use to anyone else. Any attempted assignment or delegation is void. You acknowledge that we have the right hereunder to seek an injunction, if necessary, to stop or prevent a breach of your obligations hereunder. </p>



    <p>Any delay or failure by us to exercise or enforce any right or provision of these Terms of Use will not constitute a waiver of such right or provision. No waiver by us will have effect unless such waiver is set forth in writing, signed by us; nor will any such waiver of any breach or default constitute a waiver of any subsequent breach or default. </p>



    <p>These Terms constitute the complete and exclusive agreement between you and us with respect to the subject matter hereof, and supersedes all prior oral or written understandings, communications or agreements. If for any reason a court of competent jurisdiction finds any provision of these Terms, or portion thereof, to be unenforceable, that provision of the Terms will be enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder of these Terms will continue in full force and effect.</p>





    <p><b>Arbitration</b></p>

    <p>All controversies, disputes, demands, counts, claims, or causes of action between you and Company arising out of, under, or related to these Terms of Use or our privacy practices (including any action we take or authorize with respect to information about or provided by you) shall be settled exclusively through binding arbitration.</p>

    <ol > <ol > <li>Arbitration shall be subject to the Federal Arbitration Act and not any state arbitration law. The arbitration shall be conducted before one commercial arbitrator with substantial experience in resolving commercial contract disputes from the American Arbitration Association (“<b>AAA</b>”). As modified by these Terms of Use, and unless agreed upon by the parties in writing, the arbitration will be governed by the AAA’s Commercial Arbitration Rules and, if the arbitrator deems them applicable, the Supplementary Procedures for Consumer Related Disputes (collectively “<b>Rules and Procedures</b>”).</li>
    <li>You are thus GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under this contract EXCEPT for matters that may be taken to small claims court. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury. You are entitled to a FAIR HEARING, BUT the arbitration procedures are SIMPLER AND MORE LIMITED THAN RULES APPLICABLE IN COURT. Arbitrator decisions are as enforceable as any court order and are subject to VERY LIMITED REVIEW BY A COURT. </li>
    <li>You and Company must abide by the following rules: (a) for any claim that could otherwise be brought in small claims court, the arbitration shall be conducted solely based on written submissions and, if the arbitrator deems it appropriate, a telephonic hearing; (b) if the claim exceeds what can be recovered in a small claims court, the arbitration shall be conducted solely based on written submissions or a telephonic hearing, unless the arbitrator deems a face-to-face hearing is appropriate, in which case one should be held at a location agreed to by you and Company, and if the parties cannot agree on a location for the hearing, the arbitrator will determine a location for the proceedings which is reasonably convenient to both parties with due consideration of their ability to travel and other pertinent circumstances; (c) the arbitrator’s ruling is binding and not merely advisory; (d) ANY CLAIMS BROUGHT BY YOU OR COMPANY MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING; (e) THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, (f) in the event that you are able to demonstrate that the costs of arbitration will be prohibitive as compared to costs of litigation, Company will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive as compared to the cost of litigation, (g) Company also reserves the right in its sole and exclusive discretion to assume responsibility for all of the costs of the arbitration; (h) the arbitrator shall honor claims of privilege and privacy recognized at law; (i) a decision by the arbitrator (including any finding of fact and/or conclusion of law) against either you or Company shall be confidential unless otherwise required to be disclosed by law or by any administrative body and may not be collaterally used against either of them in existing or subsequent litigation or arbitration involving any other person/Company customer; and (j) each side pays its own attorneys’ fees and expenses unless there is a statutory provision that requires the prevailing party to be paid its fees’ and litigation expenses. </li>
    <li>Notwithstanding the foregoing, either you or Company may bring an individual action in small claims court. In addition, if you are a user outside of the United States, the dispute resolution provision in our <a href='/privacy'>Privacy Statement</a> (if any), and not this arbitration provision, shall apply to any disputes related to privacy. Further, claims of defamation, violation of the Computer Fraud and Abuse Act, and infringement or misappropriation of the other party’s patent, copyright, trademark, or trade secret shall not be subject to this arbitration provision. Such claims shall be exclusively brought (unless such courts do not have personal jurisdiction in the dispute) in the courts located in New York, New York. Additionally, notwithstanding this arbitration provision, either party may seek emergency equitable relief before such courts in order to maintain the status quo pending the arbitrator’s ruling, and hereby agree to submit to the personal jurisdiction of such courts. A request for interim measures shall not be deemed a waiver of the right to arbitrate.</li>
    <li>With the exception of subparts (d) and (e) in the paragraph above (prohibiting arbitration on a class or collective basis), if any part of this arbitration provision is deemed to be invalid, unenforceable or illegal, or otherwise conflicts with the Rules and Procedures, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting provision were not contained herein. If, however, either subpart (d) or (e) is found to be invalid, unenforceable or illegal, then the entirety of this arbitration provision shall be null and void, and neither you nor Company shall be entitled to arbitration. In the event this arbitration provision is held unenforceable by a court, or in the event AAA refuses to arbitrate the dispute, all controversies, disputes, demands, counts, claims, or causes of action between you and Company shall be exclusively brought in the state or federal courts specified in subsection “(d)” above.</li>
    </ol> </ol><p>For more information on AAA, its Rules and Procedures, and how to file an arbitration claim, you may call AAA at 800-778-7879 or visit the AAA website at <a href="http://www.adr.org/">http://www.adr.org</a>.</p>





    <p><b>Changes to these Terms</b></p>



    <p>We reserve the right, at our sole discretion, to modify these Terms from time to time, with or without prior notice to you. Modifications become effective when posted on this website. You are responsible for reviewing and becoming familiar with these Terms and with any future changes. The best way to stay informed about changes these Terms is to check back frequently at this website. </p>







    <p>Thanks for making it this far down. If you have unanswered questions, email us at <a href="mailto:support@theshoplift.com">support@theshoplift.com</a>. </p>



    <p>Enjoy using the Shoplift!</p>

  </div>
</div>