<h2>Upload Avatar</h2>
<div class="modalContent">
  <form action="/users/<%= current_user.id %>/edit" id="user_avatar_form" method="POST" enctype="multipart/form-data" >
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input id="user_avatar" name="user[avatar]" type="file"/><br/>
    <br/>
    <input type="submit" name="submit" value="Upload" class="submit" />
  </form>
</div>
<script>
  $("#uploading").hide();
	function ajaxFileUpload() {
    $('#user_avatar').hide();
    $('name[submit]').hide();
		$.ajaxFileUpload ({
				url:'/users/<%= current_user.id %>/edit',
				secureuri:false,
				fileElementId:'user_avatar',
				dataType: 'json',
        complete: function(data, status) {
          reloadAvatars();
          $('.simplemodal-close').trigger('click');
        },
				success: function (data, status) {
					if(typeof(data.error) != 'undefined') {
						if(data.error != '') {
							alert(data.error);
						}else {
							alert(data.msg);
						}
					}
				},
				error: function (data, status, e) { alert(e); }
		});
		return false;
	}
  $('#user_avatar_form').submit(function () {
    return ajaxFileUpload();
  });
</script>
