{{collection contentBinding="controller" itemViewClass="Shoplift.ItemView"}}
{{view Shoplift.LoadMoreView controllerBinding="view.controller" }}
<a {{action next href="true" target="view"}} id="next" title="Show next"></a>
<a {{action prev href="true" target="view"}} id="prev" title="Show previous"></a>