<div id="container">
	<img src="img/landing-bg.png" class="background" />
	<div id="header">
	  <header>
		<img src="img/landing-logo.png">
	  </header>
	</div>
	{{outlet}}
	<a {{action next href="true" target="view"}} id="next" title="Show next"></a>
	<a {{action prev href="true" target="view"}} id="prev" title="Show previous"></a>
</div>

