{{collection contentBinding="controller" itemViewClass="Shoplift.ProfileView"}}
<a {{action prev href="true" target="view"}} id="prev" title="Show previous"></a>
<a {{action next href="true" target="view"}} id="next" title="Show next"></a> 


