<h2>Add An Item</h2>
<div class="modalContent">
  <p>Install our Bookmarklet by dragging this button to your bookmarks bar:</p>
  <center>
    <%= link_to "Shoplift It", "javascript:(function(){var%20id='shoplift-bookmarklet-script',s=document.getElementById(id);if(s)s.parentNode.removeChild(s);s=document.createElement('script');s.setAttribute('src','#{bookmarklet_url(:format => :js)}?z='+(Math.random())+'&url='+escape(document.URL));s.setAttribute('type','text/javascript');s.setAttribute('id',id);document.body.appendChild(s);})();", :class => 'button' %>
    </center>

  <div class="divider">OR</div>

  <p>Add an Item from a url:</p>
  <%= form_for @post, :html => { :class => 'modal_form' } do |f| -%>
    <%= text_field_tag :url %>
    <%= f.submit "Add", :class => 'submit' %>
  <% end -%>
</div>
