<div class="bodyPanel">
  <div class="product-backg-line"></div>
	<div class="productPanel">

    <div id="results" id="carousel">
      <% if @items.any? %>
        <%= render @items %>
      <% end %>
    </div>

    <a href="JavaScript:void(0);" id="prev" title="Show previous"><!-- Prev --></a>
    <a href="JavaScript:void(0);" id="next" title="Show next"><!-- Next --></a>
    <span id="lastPage" style="display:none;"><%= @items.total_pages %></span>

	</div>
</div>

