<div id="content">
  <div class="rightCol">
    <%= render partial: 'posts/post', collection: @items, as: :post %>
    <div id="results"></div>
    <%= will_paginate(@items) %>
    <%= pageless(@items.total_pages, timelines_path) %>
  <div class="clear"></div>
</div>