

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@charset "utf-8";
/* CSS Document */

*{
   padding:0;
   margin:0;
}
body{
   background-color: #0d021a;
   min-width:756px;
   line-height: normal;
   font-family: 'Source Sans Pro', sans-serif;
}
a{
   outline:none;	
   /* Reduce opacity to 99% to eliminate weird glitch on jQuery css changes */
   filter: alpha(opacity=99);
   -moz-opacity: .99;
   -khtml-opacity: .99;
   opacity: .99;
}
ul{
   list-style-type:none;	
}

.spacer{
   font-size:0;
   line-height:0;
   height:0;
   clear:both;
}



/* Header */

.header {
   height: 150px;
   margin: 0 auto;
   position: relative;
   width:450px;
   top:-78px;
}
#logo, #current-user {
   background: url(/img/logo-scaffolding.png) no-repeat;
   position: absolute;
   width: 600px;
   height: 100px;
   padding-top:29px;
}
#current-user .profile-image, #current-user .circle-overflow {
   margin-top:30px;
   margin-left: -1px;
}
#current-user h2 {
   margin-top: 35px;
}
.check-container {
   background: url(/img/check-scaffolding.png) no-repeat;
   background-size: cover;
   position: relative;
   left:-73px;
   top: 16px;
   width: 83px;
   height: 74px;
}
.follow-check {
   background: url(/img/check.png) no-repeat;
   position: relative;
   left: 4px;
   width: 83px;
   height: 74px;
}
.follow-check-on {
   background: url(/img/check-on.png) no-repeat;
   position: relative;
   left: 4px;
   width: 83px;
   height: 74px;
}

.profile-sub-container .follow-check, .profile-sub-container .follow-check-on {
	position: absolute;
	bottom: 39px;
	left: 311px;
}

/* Scaffolding */
.products-bottom-scaffold	{
   border-bottom: 1px solid #352a42;
   height:1px;
   width:100%;
   position:fixed;
   top: 114px;
   z-index:0;
}

/* Container */
#container {
	border-bottom: 1px solid #352a42;
	clear:both;
	position:relative;
	width: 3500px;
	top:-100px;
}

/* Carousel */
   #carousel, #profiles, #tags-brands {
	  width:10000%;
	  max-height: 408;
	  position:absolute;
	  /*left: 320px; TODO: this should be a controller property instead for any controller that has a carousel as it's output */
	  top:225px;
	  border-top: 1px #594969 solid;
	  border-bottom: 1px #594969 solid;
   }
   #carousel .product, #profiles .profile-box, #tags-brands .tag-brand {
	  float:left;	
	  margin-bottom: -1px;
	  top:-17px
   }
   .load-more {
   	 
	   float: left;
   }
   #prev, #next {
	  display: none;
	  height:58px;
	  width:58px;
	  top:300px;
	  position: fixed;
	  z-index:900;
   }
   #prev{
	  background:url(http://davidmazza.net/shoplift/images/slide-prev.png) 0 0 no-repeat;
	  left:0;
   }
   #next {
	  background:url(http://davidmazza.net/shoplift/images/slide-next.png) 0 0 no-repeat;
	  right:0;
   }
   #prev:hover, #next:hover {
	  background-position:0 100%;
   }
   #profiles #prev{
	   left:315px;
   }

   /* Carousel Container */
	  #productPanel{
		 position:relative;
		 z-index:100;
	  }



   /* Carousel Items */
	  .product {
		 width:374px;
		 height:427px;
		 margin:0px 30px 0; /* was 100px 30px 0 for some reason */
		 position:relative;
		 overflow:visible !important;
	  }
	  .profile-box {
		 width:390px;
		 background: none; 
		 margin:0px 30px 0; /* was 100px 30px 0 for some reason */
		 position:relative;
		 overflow:visible !important;
	  }

	  .tag-brand {
		 position:relative;
		 overflow:visible !important;
	  }

	  .above-wrap	{
		 z-index:10 !important;
	  }

/* Shoplifter's Name and Pic */
	.product-container .user {
		position: absolute;
		background-image: url(/img/product-top-scaffolding.png);
		width: 408px;
		height: 65px;
		top:-53px;
		left: -38px;
		z-index: 1;
	}
	.user:hover {
		text-shadow: 0 0 15px #fff;
		cursor: pointer;
	}
	.face-circle {
		position: absolute;
		z-index: 501;
		top: 7px;
		left: 5px;
	}
	#current-user .face-circle {
		top:36px;
		left:4px;
	}
   .circle-overflow {
	  -webkit-border-radius: 40px;
	  -moz-border-radius: 40px;
	  border-radius: 40px;
	  position:absolute;
	  top: 13px;
	  left: 12px;
	  z-index:500;
	  overflow:hidden;
   }
   .circle-overflow img {
	  -webkit-border-radius: 40px;
	  -moz-border-radius: 40px;
	  border-radius: 40px;
	  max-width:74px !important;
	  max-height:75px !important;
	  -webkit-transform: rotate(-30deg);
	  -moz-transform: rotate(-30deg);
   }
   h2{
	  font-weight:normal;
	  font-size:33px;
	  line-height:60px;
	  font-family:"Trebuchet MS" arial;
	  font-weight:bold;
	  font-style: italic;
	  color:#FFF;
	  position:absolute;
	  top:20px;
	  left:100px;
	  z-index:900;
	  /* Reduce opacity to 99% to eliminate weird glitch on jQuery css changes */
	  filter: alpha(opacity=99);
	  -moz-opacity: .99;
	  -khtml-opacity: .99;
	  opacity: .99;
   }
   #current-user h2 {
	  font-size: 3.5em;
	  font-weight: bold;
   }

.product-container .product-img{
	height:408px;
	max-width:353px;
	position:absolute;
	top: 17px;
	left: 13px;
	z-index: -10;
	background:white;
	overflow: hidden;
}

.product-container .product-img img {
	max-width: 408px;
	height: 408px;
	width: 408px;
	margin-left: -27px;
}

.product-meta{
	width: 100%;
	height: 52px;
	position: absolute;
	bottom: 5px;
	left: 0px;
	margin-left: 22px;
	z-index: 1;
	font-size: 1.7em;
}

.product-meta p{
	font-family:'Trebuchet MS', arial;
	font-style: italic;
	color:#F8ECE5;
	text-shadow:1px 1px 1px #413D48;
	filter: dropshadow(color=#413D48, offx=1, offy=1);
	margin: 0 0 0 0;
}
.product-meta .product-brand {
	
}
.product-meta .product-name{
	padding-left: 10px;
	padding-top: 4px;
	font-size: 0.7em;
	color: #bdbbbf;
}




/* Product Halves */

   .product-container{
	  float:left;
	  width: 374px;
	  height: 427px;
   }
   .profile-box-container{
   	float:left;
   	width: 500px;
   	height: 427px;
   }
   .product-sub-container {
	  position: absolute;
	  background: url(/img/product-scaffolding.png) 10px 12px no-repeat transparent;
	  background-size: 360px 423px;
	  width: 380px;
	  height: 440px;
   }
   .relift-this {
	  position: absolute;
	  top:368px;
	  right: 23px;
	  z-index: 500;
   }

   .product-drawer{
	  max-width:193px;
	  background:url(/img/drawer-scaffolding.png) 0 0 no-repeat;
	  height:417px;
	  left:-185px;
	  position:absolute;
	  right:7px;
	  top:-2px;
	  margin-top:13px;
   }

   .product-drawer-container {
	  width:193px;
	  overflow: hidden;
	  cursor: pointer;
	  position: absolute;
	  top: 0;
	  left: 366px;
	  bottom: 0;
	  z-index: -1;
   }
   
   .drawer-opener {
	   display: none;
   }

/* Drawer Tabs */

   .drawer-tabs {
	  width: 177px;
	  position: relative;
	  margin: 0;
	  padding: 8px;
	  padding-left: 20px;
   }

   .drawer-tabs li {
	  float:left;
   }
   
   .drawer-tabs a {
	   background-image: url(/img/drawer-buttons.png);
	   background-repeat: no-repeat;
   }

   .drawer-tabs.nav-pills > .active > a, .drawer-tabs.nav-pills > .active > a:hover, .drawer-tabs.nav-pills > li > a, .drawer-tabs.nav-pills > li > a:hover {
	  background-color: transparent;
	  -webkit-border-radius: 0px !important;
	  -moz-border-radius: 0px !important;
	  border-radius: 0px !important;
   }

   /* Button Sprites: */
   
   li.active a.drawer-hashtags{ background-position: 0 0; width: 43px; height: 41px; } 
   .drawer-hashtags{ background-position: 7 -86px; width: 43px; height: 41px; } 
   li.active a.drawer-quote{ background-position: 0 -432px; width: 44px; height: 44px; } 
   .drawer-quote{ background-position: 7 -344px; width: 44px; height: 44px; } 
   li.active a.drawer-history{ background-position: 0 -169px; width: 52px; height: 48px; } 
   .drawer-history{ background-position: 7 -261px; width: 52px; height: 48px;} 
   
   

	  .icon-buy-button:hover{ background: url(/img/drawer-sprite.png) no-repeat 0 0; width: 40px; height: 24px; } 
	  .icon-buy-button{ background: url(/img/drawer-sprite.png) no-repeat 0 -74px; width: 40px; height: 24px; } 
	  .icon-plus-button:hover{ background: url(/img/drawer-sprite.png) no-repeat 0 -392px; width: 15px; height: 16px; } 
	  .icon-plus-button{ background: url(/img/drawer-sprite.png) no-repeat 0 -458px; width: 15px; height: 16px; } 
	  .icon-relift-button:hover{ 
	  	background: url(/img/drawer-sprite.png) no-repeat 0 -764px; 
	  	width: 69px; 
	  	height: 65px; 
	  	top:359px;
	  	left: 280px; 
	  	-webkit-transform: scale(1.3) rotate(5deg); 
	  	-moz-transform: scale(1.3) rotate(5deg); 
	  	-ms-transform: scale(1.3) rotate(5deg); 
	  	-o-transform: scale(1.3) rotate(5deg); 
	  	transform: scale(1.3) rotate(5deg); 
	  } 
	  .icon-relift-button{ background: url(/img/drawer-sprite.png) no-repeat 0 -879px; width: 69px; height: 65px;  top:359px; left: 280px; } 
	  .icon-save-button:hover{ background: url(/img/drawer-sprite.png) no-repeat 0 -994px; width: 44px; height: 26px; } 
	  .icon-save-button{ background: url(/img/drawer-sprite.png) no-repeat 0 -1070px; width: 44px; height: 26px; } 
	  .icon-share-button:hover{ background: url(/img/drawer-sprite.png) no-repeat 0 -1146px; width: 54px; height: 28px; } 
	  .icon-share-button{ background: url(/img/drawer-sprite.png) no-repeat 0 -1224px; width: 54px; height: 28px; } 
	  

   .drawer-tabs li a {
	  top: 0;
	  margin: 5px 3px 5px 3px;
	  padding: 0;
	  display: block;
	  text-indent: -9999px;
	  overflow: hidden;
   }
   .drawer-tabs li a.drawer-history {
	   margin-left: -4px;
   }
   .drawer-tabs li:first-child {
	  margin-left: -2px;
   }
   .drawer-tabs li:last-child {
	  margin-left: 2px;
   }


   .tab-content {
	  height: 295px;
   }

   /* Tags Tab */

	  .tag-list-container {
		 max-width: 180px;
		 overflow-x: hidden;

		 height: 220px;
		 overflow-y: scroll;

		 position: relative;
		 left: 1px;
	  }

	  ul.tag-list{
		 margin:0;
		 padding: 0;
		 margin-top: 40px;
	  }

	  .tag-list input {
		 outline: none;
		 border: 0;
		 background: none;
		 border:none !important;
		 box-shadow:none !important;
		 color: white;
		 position: relative;
		 top:-1px;
		 left: -8px;
		 height: 30px;
		 font-family: 'Futura' arial;
		 font-size: 1.2em;
		 text-shadow: 1px 1px 1px #000;
		 filter: dropshadow(color=#000, offx=1, offy=1);	
	  }
	  .tag-list input::-webkit-input-placeholder {
		 color: #D9FF4E;
	  }
	  .tag-list input:-moz-placeholder {
		 color: #D9FF4E;
	  }

	  .tag-list li {
		 width:110%;
		 background-color: #1F1138;
		 background-image: -webkit-linear-gradient(left, #16082a, #1f1138);
		 color: white;
		 font-family: 'Futura', arial;
		 font-size: 1.2em;
		 height: 25px;
		 margin-top: 7px;
		 padding: 4px 0 0px 29px;
		 position: relative;
		 left: -12px;
		 -moz-transform: rotate(-20deg);
		 -webkit-transform: rotate(-20deg);
		 -ms-transform: rotate(-20deg);
		 -o-transform: rotate(-20deg);
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
		 text-shadow: 1px 1px 1px #000;
		 filter: dropshadow(color=#000, offx=1, offy=1);	
	  }
	  .tag-list a {
		 color: white;
	  }
	  
	  .tab-pane .price {
	  	font-family: 'Trebuchet MS', arial;
	  	font-size: 1.7em;
	  	color: #f8ece5;
	  	right: 3px;
	  	padding-right: 10px;
	  	padding-left: 5px;
	  	border-bottom: 1px #594969 solid;
	  	top: 310px;
	  	position: absolute;
	  }

   /* Quote Tab */

	  .quote-container {
		 max-width: 180px;
		 overflow-x: hidden;

		 height: 300px;
		 overflow-y: scroll;

		 position: relative;
		 left: 1px;
	  }

	  p.quote {
		 background-color: #1F1138;
		 background-image: -webkit-linear-gradient(left, #16082A, #1F1138);
		 padding: 13px;
		 margin-top: 25px;
		 color: white;
		 font-family: 'Futura' arial;
		 font-size: .85em;
		 line-height: normal;
		 text-shadow: 1px 1px 3px #111;
		 filter: dropshadow(color=#111, offx=1, offy=1);	
	  }

	  p.quote a, p.quote a:hover {
		 color:#b9dff9;
		 text-decoration: underline;
	  }

   /* History Tab */

	  .history-container {
		 max-width: 180px;
		 overflow-x: hidden;

		 height: 300px;
		 overflow-y: scroll;

		 position: relative;
		 left: 1px;
	  }

	  .first-shoplifter {
		 font-family: 'Futura' arial;
		 background-color: #1F1138;
		 background-image: -webkit-linear-gradient(left, #16082A, #1F1138);
		 margin: 30px 0;
		 padding: 4px 10px 4px 12px;
		 color: white;
		 font-size: .95em;
		 text-shadow: 1px 1px 1px #000;
		 filter: dropshadow(color=#000, offx=1, offy=1);	
	  }

	  .first-shoplifter div {
		 width: 45px;
		 -webkit-border-radius: 30px;
		 -moz-border-radius: 30px;
		 border-radius: 30px;
		 border:2px solid #fff;
		 float: right;
		 position: relative;
		 margin-top: -17px;
	  }
	  .first-shoplifter img {
		 width: 44px;
		 -webkit-border-radius: 30px;
		 -moz-border-radius: 30px;
		 border-radius: 30px;
		 margin-left: 1px;
		 -moz-transform: rotate(-20deg);
		 -webkit-transform: rotate(-20deg);
		 -ms-transform: rotate(-20deg);
		 -o-transform: rotate(-20deg);
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
	  }

	  .relifters {
		 font-family: 'Futura' arial;
		 background-color: #1F1138;
		 background-image: -webkit-linear-gradient(left, #16082A, #1F1138);
		 margin: 10px 0;
		 padding: 4px 10px 4px 12px;
		 color: white;
		 font-size: .95em;
		 text-shadow: 1px 1px 1px #000;
		 filter: dropshadow(color=#000, offx=1, offy=1);	
		 overflow: hidden;
	  }

	  .relifters div {
		 width: 27px;
		 -webkit-border-radius: 20px;
		 -moz-border-radius: 20px;
		 border-radius: 20px;
		 border:1px solid #fff;
		 /*float: left;*/
		 margin: 10px 4px 0px 5px;
	  }
	  .relifters img {
		 width: 26px;
		 -webkit-border-radius: 20px;
		 -moz-border-radius: 20px;
		 border-radius: 20px;
		 margin-left: 1px;
		 -moz-transform: rotate(-20deg);
		 -webkit-transform: rotate(-20deg);
		 -ms-transform: rotate(-20deg);
		 -o-transform: rotate(-20deg);
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
	  }

   /* Drawer Actions */

	  .drawer-actions {
		 position: relative;
		 bottom: 0;
		 margin: 0;
		 padding-left: 16px;
	  }

	  .drawer-actions li {
		 float: left;
		 margin-right: 9px;
	  }

	  .drawer-actions li:last-child {
		 margin-right: 0;
		 margin-left: 2px;
		 margin-top: 2px;
	  }

   /* Drawer Opener */

	  .drawer-opener {
		 position: absolute;
		 right:-3px;
		 top:47.5%;
	  }


/* Popups */

#tsl-relift-popup, #tsl-share-popup {
   position: absolute;
   top:0;
   z-index: 999;
}
.tsl-popup-bg {
   position: absolute;
   top:0;
   width:100%;
   height:100%;
   padding-top:70px; 
   z-index: -10;
   background: rgba(10,0,25,0.92);
}

/* Sidebar Overlays */
.sidebar-shadow {
   position: absolute;
   top:0; left:0;
   width: 302px;
   height:100%;
   padding-top: 70px;
   z-index: -9;
   background: rgba(10,0,25,0.92);
}

/* Profile Overlay */

.profile-overlay {
   position: fixed;
   top: 0;
   z-index: 999; 
   display: none;
}
.profile-container {
   background: url(/img/profile-sidebar-scaffolding.png) no-repeat;
   background-size: 307px 422px;
   width: 315px;
   height: 500px;
   margin-top: 220px;
   overflow: hidden;
   color: #9c8d99;
   font-family: 'Century Gothic', arial;
   position: relative;
}

.profile-count {  
   font-size: 1.75em;
   width: 114px;
   padding-right: 180px;
   margin-bottom: 23px;
   text-align: right;
   cursor: pointer;
}

.of-items {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px -345px;
   margin-top: 31px;
}
.of-items-on {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px -276px;
   margin-top: 31px;
   color:#f8ece5;
}
.of-followees {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px -69px;
}
.of-followees-on {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px 0px;
   color:#f8ece5;
}
.of-followers {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px -207px;
}
.of-followers-on {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 126px -138px;
   color:#f8ece5;
}
.tags-brands {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 51px -483px;
   width: 90px;
   padding-right: 180px;
   margin-bottom: 21px;
}
.tags-brands-on {
   background: url(/img/profile-sidebar.png) no-repeat;
   background-position: 51px -414px;
   width: 90px;
   padding-right: 180px;
   margin-bottom: 21px;
   color:#f8ece5;
}
.profile-description {
   background-color: #2e223c; 
   width: 237px;
   margin-left: 38px;
   margin-top: 30px;
   padding: 13px;
   z-index: -1;
   position: absolute;
   color: white;
   font-family: "Trebruchet MS", "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
   font-style: italic;
}

.profile-website {
   position: absolute;
   right: 19px;
   top:365px;
}


/* Tag Overlay */

.tag-overlay {
   position: fixed;
   top: 0;
   z-index: 999; 
   display: none;
}
.tag-container {
   background: url(/img/tag-scaffolding.png) no-repeat;
   width: 300px;
   height: 500px;
   margin-top: 220px;
   overflow: hidden;
   color: #9c8d99;
   font-family: 'Century Gothic' arial;
   position: relative;
}
.tag-container .tag-list-container {
   margin-left: 107px;
   margin-top: 23px;
   max-width: 180px;
   overflow: hidden;
}
.tag-container .tag-list-container .tag-list {
   margin-bottom: 54px;
}
.tag-container .tag-list-container ul:first-child li {
   background-color: #faf2ed;
   background-image: none;
   color: #443755;
	text-shadow: 1px 1px 1px #555;
	filter: dropshadow(color=#555, offx=1, offy=1);
}
.tag-type {  
   font-size: 1.75em;
   width: 90px;
   height: 30px;
   margin-bottom: 21px;
   text-align: right;
   position: absolute;	
}

.on-now {
   background: url(/img/on-now.png) no-repeat;
   background-position: 10px 0;
   top:100px;
   left: 28px;
}
.up-next {
   background: url(/img/up-next.png) no-repeat;
   background-position: 10px 0;
   top:186px;
   left:28px;
}

.show-items {
   background: url(/img/show-items.png) no-repeat;
   background-position: 10px 0;
   width: 150px;
   top:353px;
   left:46px;
}
.show-items-on {
   background: url(/img/show-items-on.png) no-repeat;
   background-position: 10px 0;
   width: 150px;
   top:353px;
   left:46px;
}
.or-members {
   background: url(/img/or-members.png) no-repeat;
   background-position: 10px 0;
   width: 170px;
   top:380px;
   left:110px;
}
.or-members-on {
   background: url(/img/or-members-on.png) no-repeat;
   background-position: 10px 0;
   width: 170px;
   top:380px;
   left:110px;
}

/* Explore Overlay */

.explore-overlay {
   position: fixed;
   top: 0;
   z-index: 999; 
   display: none;
}
.explore-container {
   background: url(/img/explore-sprite.png) no-repeat;
   background-position: 0 -918px;
   background-size: 308px 1337px;
   width: 308px; height: 421px;
   margin-top: 220px;
   padding-top: 37px;
   overflow: hidden;
   color: #9c8d99;
   font-family: 'Century Gothic', arial;
   position: relative;
}

.explore-overlay li {  
   font-size: 1.75em;
   width: 114px;
   padding-right: 180px;
   margin-bottom: 33px;
   text-align: right;
   cursor: pointer;
   background-image: url(/img/explore-sprite.png);
}

.explore-friends-on{ background-position: 0 0; width: 144px; height: 42px; } 
.explore-friends{ background-position: 0 -92px; width: 144px; height: 42px; } 
.explore-interests-on{ background-position: 0 -184px; width: 210px; height: 42px; } 
.explore-interests{ background-position: 0 -276px; width: 210px; height: 42px; } 
.explore-nearby-on{ background-position: 0 -368px; width: 139px; height: 42px; } 
.explore-nearby{ background-position: 0 -460px; width: 139px; height: 42px; } 
.explore-popular-on{ background-position: 0 -552px; width: 162px; height: 42px; } 
.explore-popular{ background-position: 0 -644px; width: 162px; height: 42px; } 
.explore-recommended-on{ background-position: 0 -736px; width: 261px; height: 42px; } 
.explore-recommended{ background-position: 0 -828px; width: 261px; height: 42px; } 
.explore-scaffolding{ background-position: 0 -920px; width: 308px; height: 421px; } 





/* Profile Box */
.profile-sub-container {
	position: absolute;
	background: url(/img/profile-scaffolding.png) 13px 31px no-repeat transparent;
	background-size: 394px 484px;
	width: 500px;
	height: 540px;
	top:-84px;
	left:-48px;
	color: white;
	font-family: 'Trebuchet MS';
	text-shadow:1px 1px 1px #413D48;
	filter: dropshadow(color=#413D48, offx=1, offy=1);
}
.profile-sub-container .profile-description {
	bottom:188px;
	margin: 0;
	left:64px;
	width: 266px;
	background: rgba(25,25,25,0.4);
}
.profile-sub-container .profile-meta {
	bottom:35px;
	left:66px;
	padding: 10px;
	font-size: 1.4em;
	font-style: italic;
	text-align: left;
	width: 223px;
	position: absolute;
	overflow: hidden;
}
.profile-sub-container .profile-meta ul {
	padding: 0;
	margin: 0;
}

.profile-sub-container .profile-meta li {
	padding-top: 0px;
	line-height: 1.2em;
}

.profile-box-container .user {
	position: absolute;
	width: 413px;
	height: 100px;
	top:-60px;
	left: -42px;
	z-index: 1;
}

.profile-box-container .product-img {
	position: absolute;
	height:153px;
	overflow: hidden;
}

.profile-box-container .product-img img {
	width: 168px;
}

.profile-box-container .product-img:nth-child(4) { /*4*/
	top: 17px;
	left: 15px;
}
.profile-box-container .product-img:nth-child(7) { /*5*/
	top: 17px;
	left: 183px;
}
.profile-box-container .product-img:nth-child(10) { /*6*/
	top: 171px;
	left: 15px;
}
.profile-box-container .product-img:nth-child(13) { /*7*/
	top: 171px;
	left: 183px;
}

.follow-instructions {
	padding: 100px 0;
}
.follow-instructions img {
	margin-left: 58px;
}

/* Tags + Brands Squares */

#tags-brands {
  margin-top:100px;
}
.tag-brand {
	float: left;
	display: block;
	position: relative;
	background: url(/img/tags-brands-square.png) no-repeat;
	padding: 4px 0 4px 0;
	margin: 12px;
	margin-bottom: -4px;
	width: 180px;
	height: 408px;
	border-left: 1px solid #544564;
	border-right: 1px solid #544564;
/* overflow: hidden; */
}

.tag-brand-sub-container {
   position: absolute;
   background: url(/img/tags-brands-square.png) no-repeat;
   z-index: 100;
   top:3px;
   width: 206px;
   height: 192px;
   border-top: 1px #544564 solid;
}
.tag-brand-sub-container:nth-child(2) {
   border-bottom: 1px #544564 solid;
}
.tag-brand-sub-container:nth-child(8) {
   top:220px;
}

.tag-brand img {
   width: 180px;
   height: 192px;
   z-index: -100;
}
.tag-brand img:nth-child(7) {
   padding-top: 24px;
}
/* .tag-brand .tag-list ul {
   position: absolute;
   background: none;
   z-index: 100;
} */

.tag-brand .tag-list li {
   background: none;
   top:33px
}


/* Menu Buttons */

#nav div {
	float:left;
}

#nav {
	background-color: rgba(17,0,34,0.93);
	width: 100%;
	height: 100%;
	position: fixed;
	padding-left:50%;
}

#logo {
	margin-left: -221px;
	top:78px;
}

#current-user {
	margin-left: -221px;
	top:76px;
}

#home {
	position: absolute;
	margin-left: -500px;
}

#menu {
	position: absolute;
	width: 260px;
	height: 0px; /* 559px; */
	top:173px;
	margin-left: 315px;
}

#menu ul {
	width: 267px;
	height: 521px;
	padding-top: 37px;
	position: relative;
	top: -173px;
	margin-left: -8px;
	padding-left: 0;
	background-image: url(/img/menu-open-scaffolding.png);
	background-position: 8px -1px;
}
#nav.closed {
	background: none;
	height: 200px;
}
#nav.closed #menu {
	background-image: none;
}
#nav.closed #menu ul {
	display: none;
}

#header-menu-dropdown {
	position: relative;
	top:-173px;
	left: 110px;
}


#menu li {
	background-image: url(/img/menu-buttons.png);
	list-style: none;
	cursor: pointer;
	margin-left: 0;
	padding-left: 0;
}


#menu li.top {
	float: right;
	margin-right: 200px;
}

#menu li.middle {
	float: left;
	margin-left: 82px;
	margin-bottom: 5px;
	-webkit-transform:rotate(-20deg);
}

#menu li.bottom {
	float: left;
	padding-left: 50px;
	margin-left: 175px;
	margin-bottom: 2px;
}

#menu li:nth-child(5) {
	margin-top: 30px;
}

#menu li:nth-child(8) {
	margin-top: 30px;
}

.menu-buttons-about-on{ background-position: 0 0; width: 76px; height: 32px; } 
.menu-buttons-about{ background-position: 0 -82px; width: 76px; height: 32px; } 
.menu-buttons-add-on{ background-position: 0 -164px; width: 102px; height: 49px; } 
.menu-buttons-add{ background-position: 0 -263px; width: 102px; height: 49px; } 
.menu-buttons-embed-on{ background-position: 0 -362px; width: 158px; height: 35px; } 
.menu-buttons-embed{ background-position: 0 -447px; width: 158px; height: 35px; } 
.menu-buttons-feedback-on{ background-position: 0 -532px; width: 153px; height: 34px; } 
.menu-buttons-feedback{ background-position: 0 -616px; width: 153px; height: 34px; } 
.menu-buttons-follow-on{ background-position: 0 -700px; width: 148px; height: 45px; } 
.menu-buttons-follow{ background-position: 0 -795px; width: 148px; height: 45px; } 
.menu-buttons-help-on{ background-position: 0 -890px; width: 60px; height: 31px; } 
.menu-buttons-help{ background-position: 0 -971px; width: 60px; height: 31px; } 
.menu-buttons-invite-on{ background-position: 0 -1052px; width: 154px; height: 34px; } 
.menu-buttons-invite{ background-position: 0 -1136px; width: 154px; height: 34px; } 
.menu-buttons-profile-on{ background-position: 0 -1220px; width: 140px; height: 51px; } 
.menu-buttons-profile{ background-position: 0 -1321px; width: 140px; height: 51px; } 
.menu-buttons-search-on{ background-position: 0 -1422px; width: 140px; height: 45px; } 
.menu-buttons-search{ background-position: 0 -1517px; width: 140px; height: 45px; } 
.menu-buttons-signout-on{ background-position: 0 -1612px; width: 98px; height: 31px; } 
.menu-buttons-signout{ background-position: 0 -1693px; width: 98px; height: 31px; } 
.menu-buttons-terms-on{ background-position: 0 -1774px; width: 61px; height: 36px; } 
.menu-buttons-terms{ background-position: 0 -1860px; width: 61px; height: 36px; } 



/* Animations */

@-webkit-keyframes reset {
	0%		{ opacity: 0; }
	100%	{ opacity: 0; }
}

@-webkit-keyframes fade-in {
	0%		{ opacity: 0; }
	100%	{ opacity: 1; }
}


.fade-in
{
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0s;
	/* Firefox 4 */
	-moz-transition-property:opacity;
	-moz-transition-duration:3s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
	/* Safari and Chrome */
	-webkit-transition-property:opacity;
	-webkit-transition-duration:3s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	/* Opera */
	-o-transition-property:opacity;
	-o-transition-duration:3s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
}



/* Content Page */

.content-page {
	position:absolute;
	top: 4em;
	left: -62em;
	width: 59em;
	height: 38em;
	padding-right: 1em;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #f8ece5;
}

.content-page h1 {
	margin-bottom: 1em;
}

.content-page p {
	font-size: 1.5em;
}

.add-page {
	background-image: url(/img/add-scaffolding.png);
	height: 165px;
	width: 355px;
	padding: 3px 10px 10px 259px;
}
.add-page p {
	font-size: 1.18em;
}
.add-page input {
	outline: none;
	border: 0;
	background: none;
	background-color: #1F1138;
	background-image: -webkit-linear-gradient(left, #16082a, #1f1138);
	border:none !important;
	border-radius: 0px;
	box-shadow:none !important;
	color: white;
	position: relative;
	top: -1px;
	left: 6px;
	height: 22px;
	width: 100%;
	margin-bottom: 53px;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);	
}

.shoplift-this-button {
	margin-top: 28px;
	position: absolute;
	right: 266px;
}

.tooltip {
	z-index: 1000;
	margin-top: 100px;
	position: absolute;
}

