@import 'bourbon';

	  /* ==========================================================================
	  	 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
	  	 ========================================================================== */
	  
	    html,
	    button,
	    input,
	    select,
	    textarea {
	    	color: #222;
	    }
	  
	    body {
	    	font-size: 1em;
	    	line-height: 1.4;
	    }
	  
	    ::-moz-selection {
	    	background: #b3d4fc;
	    	text-shadow: none;
	    }
	  
	    ::selection {
	    	background: #b3d4fc;
	    	text-shadow: none;
	    }
	  
	    hr {
	    	display: block;
	    	height: 1px;
	    	border: 0;
	    	border-top: 1px solid #ccc;
	    	margin: 1em 0;
	    	padding: 0;
	    }
	  
	    img {
	    	vertical-align: middle;
	    }
	  
	    img.background {
	  	  width: 100%;
	  	  min-width: 1600px;
	  	  min-height: 900px;
	  	  /*display: none;*/
	  	  right: 0;
	  	  z-index: -1;
	  	  position: absolute;
	    }
	  
	    fieldset {
	    	border: 0;
	    	margin: 0;
	    	padding: 0;
	    }
	  
	    textarea {
	    	resize: vertical;
	    }
	  
	    .chromeframe {
	    	margin: 0.2em 0;
	    	background: #ccc;
	    	color: #000;
	    	padding: 0.2em 0;
	    }
	  
	  
	    /* ===== Initializr Styles ==================================================
	  	 Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
	  	 ========================================================================== */
	  
	    body {
	    	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	    }
	  
	    .wrapper {
	    	width: 90%;
	    	margin: 0 5%;
	    }
	  
	  	/* ===============
	  		ALL: IE Fixes
	  	   =============== */
	  
	  	.ie7 .title {
	  		padding-top: 20px;
	  	}
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  #container {
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	margin: 0;
	  	top:0;
	  	overflow: hidden;
	  }
	  #home-container {
	  	background-image: url(/img/home-scaffolding.png);
	  	background-size: cover;
	  	position:absolute;
	  	width:600px;
	  	bottom: 15%;
	  	left: 50%;
	  	margin-left: -300px;
	  	padding: 0 4px;
	  	#tagline {
	  		position: fixed;
	  		left: 50%;
	  		top:45%;
	  		margin-left: -368px;
	  	}
	  	a {
	  		margin: 10px 0;
	  		img {
					margin-top: -7px;
		  		height: 52px;
	  		}
	  		#learn {
		  		margin: 0 36px;
		  		margin-top: -7px;
	  		}
	  	}
	  }
	  #email-container {
	  	position:absolute;
	  	width: 100%;
	  	height: 100%;
	  	margin: 0;
	  	top:200px;
	  }
	  #letter-container {
	  	position: absolute;
		  left: 50%;
		  width: 800px;
		  margin-left: -400px;
		  /* margin-top: 90px; //with animation */
		  margin-top: -120px;
		  /*z-index: 900;*/
		  #letter {
		  	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		  	color: #f8ece5;
			  margin: 0 9px 0 6px;
			  border-width: 0 1px 0 1px;
			  border-color: #5d4e6d;
			  border-style: solid;
			  padding: 122px 20px;
			  background-color: rgba(13, 1, 25, 0.8);
			  z-index: 800;
			  position: absolute;
			  div {
				  max-height: 500px;
				  overflow-y: scroll;
			  }
		  }
		  #home-container {
			  position: absolute;
			  top:670px;
			  #signup {
			  	position: absolute;
				  z-index: 900;
			  }
		  }
		  #bottom {
		  	position: absolute;
			  top:751px;
		  }
	  }
	  #close-letter {
	  	position: absolute;
		  left: 50%;
		  margin-left:381px;
		  z-index: 850;
	  }
	  #close-letter img {
		  width:20px;
	  }
	  #signup-container, #signin-container {
	  	position: absolute;
	  	top: 300px;
		  width:600px;
		  left: 50%;
		  margin-left: -300px;

	  	input {
			  width: 226px;
			  height: 31px;
			  margin-left: 203px;
			  margin-top: 7px;
			  font-size: 16px;
			  font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
			  letter-spacing: .12em;
			  font-weight: 100;
			  border-radius:0px;
			  -webkit-border-radius: 0px;
			  -moz-border-radius: 0px;
		  }
	  	#signup-form {
		  	position:absolute;
		  	top:0;
		  	left:0;
		  	padding: 17px;
		  	a {
		  		position:absolute;
		  		top:0;
		  		right:0;
		  		img {
		  			position: relative;
		  		}
		  		&#next img {
			  		right: 8px;
			  		top: 11px;
			  		width: 85px;
			  		width: 85px;
		  		}
		  		&#close img {
			  		width: 21px;
			  		top:0;
			  		right:0;
			  		margin-right: -2px;
			  		margin-top: -4px;
			  		position:absolute;
			  		z-index:1;
		  		}
		  	}
	  	}
	  }
	  #signin-container {
		  width: 742px;
		  margin-left: -371px;
		  input {
			  margin-left: 250px;
			  margin-top: 8px;
			  height: 32px;
			  width: 231px;
		  }
		  #signup-form {
			  padding-top:19px;
			  a {
			  	img {
			  		max-width: none;
			  	}
			  	&#close img {
				  	right: 10px;
			  	}
			  	&#forgot img {
						top: 80px;
						right: 176px;
						height: 27px;
					}
				}
				#go {
					background-image: url(/img/signin-go.png);
					background-size: cover;
					background-color: transparent;
					top: 71px;
					right: 94px;
					height: 25px;
					width: 60px;
					border: none;
					position: absolute;
				}
		  }
		  img {
			  margin-left: -10px;
		  }
		  #forgot {
		  	position: absolute;
			  top: 50px;
			  right: 150px;
		  }
		  #go {
			  top: 50px;
			  right: 100px;
		  }
	  }
	  #name-container {
	  	position: absolute;
	  	top: 300px;
	  	width:800px;
	  	left: 50%;
	  	margin-left: -400px;
	  	#modal {
	  		margin: 0 9px 0 6px;
	  		border-width: 0 1px 0 1px;
	  		border-color: #5d4e6d;
	  		border-style: solid;
	  		padding: 20px 20px;
	  		background-color: rgba(13, 1, 25, 0.8);
	  		div {
		  		margin: 2% 15%;
	  			position: relative;
	  			text-align: center;
			  	img {
			  		width: 100%;
			  	}
				  input {
				  	width: 460px;
				  	height: 35px;
				  	
				  	margin-top: 50px;
				  	font-size: 16px;
				  	font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
				  	letter-spacing: .12em;
				  	font-weight: 100;
				  }
			  }
		  }
		  a {
			  position:absolute;
			  bottom:0;
			  right:0;
			  img {
			  	width: 85px;
			  	right: 8px;
			  	bottom: 15px;
			  	position: relative;
			  }
		  }
		}
	  #demographics-container {
		  width: 800px;
		  position: absolute;
		  top:300px;
		  left: 50%;
		  margin-left: -400px;
	  	#modal {
		  	margin: 0 9px 0 6px;
		  	border-width: 0 1px 0 1px;
		  	border-color: #5d4e6d;
		  	border-style: solid;
		  	padding: 50px 20px;
		  	background-color: rgba(13, 1, 25, 0.8);
		  	div {
		  		width: 100%;
		  		text-align: center;
			  	img {
					  width: 350px;
					  margin-bottom: 50px;
				  }
		  		li { 
					  height:35px;
					  padding-left: 200px;
					  margin-left: 100px;
					  list-style: none;
					  padding-bottom: 23px;
				  }
	  			input, select {
					  height: 100%;
					  width: 100%;
					  font-size: 16px;
					  font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
					  letter-spacing: .12em;
					  font-weight: 100;
				  }
				  #gender { 
				  	background: url(/img/landing-gender.png) no-repeat;
				  	background-position: 150px 8px;
				  	background-size: 35px 15px;
				  	width: 100px;
				  }
				  #birthday { 
				  	background: url(/img/landing-birthday.png) no-repeat;
				  	background-position: 63px 8px;
				  	background-size: 122px 19px;
				  	width: 195px;
				  	select {
				  		width: 70px;
				  		&:first-child {
				  			width: 120px; 
				  		}
				  	}
				  }
				  #country { 
				  	background: url(/img/landing-live.png) no-repeat;
				  	background-position: 125px 8px;
				  	background-size: 60px 15px;
				  	width: 200px;
				  }
				  #zipcode { 
				  	background: url(/img/landing-zip.png) no-repeat;
				  	background-position: 59px 8px;
				  	background-size: 126px 19px;
				  	width: 190px;
				  }
				}
			}
			a {
				position:absolute;
				bottom:0;
				right:0;
				img {
					width: 85px;
					right: 8px;
					bottom: 15px;
					position: relative;
				}
			}
		}
		#photo-container {
			position: absolute;
			top: 300px;
			width:800px;
			left: 50%;
			margin-left: -400px;
			#modal {
				margin: 0 9px 0 6px;
				border-width: 0 1px 0 1px;
				border-color: #5d4e6d;
				border-style: solid;
				padding: 20px 20px;
				background-color: rgba(13, 1, 25, 0.8);
				div {
					margin: 2% 15%;
					position: relative;
					text-align: center;
					img {
						width: 100%;
					}
				}
			}
			a {
				position:absolute;
				bottom:0;
				right:0;
				img {
					width: 85px;
					right: 8px;
					bottom: 15px;
					position: relative;
				}
			}
		}
		#bio-container {
			position: absolute;
			top: 300px;
			width:800px;
			left: 50%;
			margin-left: -400px;
			#modal {
				margin: 0 9px 0 6px;
				border-width: 0 1px 0 1px;
				border-color: #5d4e6d;
				border-style: solid;
				padding: 20px 20px;
				background-color: rgba(13, 1, 25, 0.8);
				div {
					margin: 2% 15%;
					position: relative;
					text-align: center;
					img {
						width: 100%;
					}
				}
			}
			a {
				position:absolute;
				bottom:0;
				right:0;
				img {
					width: 85px;
					right: 8px;
					bottom: 15px;
					position: relative;
				}
			}
		}
	  #header {
	  	position: relative;
	  	left: 50%;
	  	top:0;
	  	margin-left: -225px;
	  	z-index: 1000;
	  	width: 460px;
	  }
	  
	  #footer {
	  	position: relative;
	  	z-index: 1000;
	  	left: 50%;
	  	top:425px;
	  	padding-top: 1px;
	  	margin-left: -263px;
	  	background: url(/img/landing-email-scaffolding.png) no-repeat;
	  	background-size: 525px 91px;
	  }
	  #footer input {
	  	outline: none;
	  	border: 0;
	  	border:none !important;
	  	box-shadow:none !important;
	  	background: rgba(255,255,255,0.3);
	  	background: url(/img/landing-email-bg.png) no-repeat;
	  	background-size: 525px 45px;
	  	width: 525px;
	  	height: 45px;
	  	font-size: 16px;
	  	padding-left: 95px;
	  	font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
	  	letter-spacing: .12em;
	  	font-weight: 100;
	  	color:#c7de55;
	  	
	  	margin-bottom: 19px;

      &.is-saving {
        opacity: 0.4;
      }
	  }
	  #footer input.active {
		  background: url(/img/landing-email-bg-on.png) no-repeat;
		  background-size: 525px 45px;
	  }
	  #footer img {
		  margin-left: 5px;
	  }
	  #footer ul {
	  	margin: 0;
	  	padding: 0;
	  	position: relative;
	  	margin-top: 30px;
	  	width: 335px;
	  	margin-left: 16px;
	  }
	  #footer li {
	  	margin: 0;
	  	padding: 0;
	  	list-style-type: none;
	  	float: left;
	  }
	  
	  
	  
	  
	  
	  
	  /* ==============
	  	Tablet: Main
	     ============== */
	  @media only screen and (max-width: 770px) {
	  
	  	#container {
	  		position: absolute;
	  		width: 100%;
	  		height: 110%;
	  		margin: 0;
	  		top:0;
	  		overflow-y: scroll;
	  	}
	  	img.background {
	  		min-width: 1067px;
	  		min-height: 600px;
	  		display: block;
	  	}
	  	#header {
	  		position: relative;
	  		left: 50%;
	  		top:0;
	  		margin-left: -200px;
	  	}
	  	#header img {
	  		width: 400px;
	  	}
	  	#home-container #tagline {
	  		margin-left: -200px;
	  	}
	  	#tagline img {
	  		width:400px;
	  	}
	  	#home-container {
		  	width:450px;
		  	margin-left: -225px;
		  	bottom: 25%;
		  	a {
		  		margin: 10px 0;
		  		img {
		  			margin-top: -7px;
		  			height: 35px;
		  		}
		  	}
	  	}
	  	#footer {
	  		position: relative;
	  		left: 50%;
	  		top:25%;
	  		margin-left: -183px;
	  	}
	  	#footer input {
	  		outline: none;
	  		border: 0;
	  		border:none !important;
	  		box-shadow:none !important;
	  		background: rgba(255,255,255,0.3);
	  		background-image: url('img/email-bg.png');
	  		width: 365px;
	  		height: 34px;
	  		font-size: 16px;
	  		padding-left: 10px;
	  		font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
	  		letter-spacing: .12em;
	  		font-weight: 100;
	  		color:#314408;
	  	}
	  	#footer input:focus {
	  		background: rgba(255,255,255,0.6);
	  	}
	  	#footer ul {
	  		margin: 0;
	  		padding: 0;
	  		position: relative;
	  		margin-top: 30px;
	  		width: 335px;
	  		margin-left: 16px;
	  	}
	  	#footer li {
	  		margin: 0;
	  		padding: 0;
	  		list-style-type: none;
	  		float: left;
	  	}
	  }
	  
	  @media only screen and (max-width: 480px) {
	  	container {
	  		position: absolute;
	  		width: 100%;
	  		height: 110%;
	  		margin: 0;
	  		top:0;
	  		overflow-y: scroll;
	  	}
	  	img.background {
	  		min-width: 889px;
	  		min-height: 500px;
	  	}
	  	#header {
	  		position: relative;
	  		left: 50%;
	  		top:0;
	  		margin-left: -125px;
	  	}
	  	#header img {
	  		width: 250px;
	  	}
	  	#home-container #tagline {
	  		top:30%;
	  		margin-left: -125px;
	  	}
	  	#tagline img {
	  		width:250px;
	  	}
	  	#home-container {
		  	background-image: none;
		  	width: 300px;
		  	margin-left: -150px;
		  	top:35%;
		  	a {
			  	margin: 20px 0;
			  	text-align: center;
			  	img {
				  	margin-top: 30px;
				  	height: 52px;
			  	}
			  	#learn {
				  	margin: 0;
				  	margin-top: 30px;
			  	}
		  	}
	  	}
	  	#footer {
	  		position: relative;
	  		left: 50%;
	  		top:20%;
	  		margin-left: -125px;
	  	}
	  	#footer input {
	  		outline: none;
	  		border: 0;
	  		border:none !important;
	  		box-shadow:none !important;
	  		background: rgba(255,255,255,0.3);
	  		background-image: url('img/email-bg.png');
	  		background-size: contain;
	  		width: 250px;
	  		height: 22px;
	  		font-size: 16px;
	  		padding-left: 10px;
	  		font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
	  		letter-spacing: .12em;
	  		font-weight: 100;
	  		color:#314408;
	  	}
	  	#footer input:focus {
	  		background: rgba(255,255,255,0.6);
	  	}
	  	#footer ul {
	  		margin: 0;
	  		padding: 0;
	  		position: relative;
	  		margin-top: 30px;
	  		width: 250px;
	  		margin-left: 0px;
	  		text-align: center;
	  	}
	  	#footer li {
	  		margin: 0;
	  		padding: 0;
	  		list-style-type: none;
	  		float: left;
	  		text-align: center;
	  		margin: 0 auto;
	  		width: 250px;
	  	}
	  	#slash {
	  		display: none;
	  	}
	  }

@mixin shoplift-text-input {
  outline: none;
  border: 0;
  border:none !important;
  box-shadow:none !important;
  background: rgba(255,255,255,0.3);
  background-image: url('img/email-bg.png');
  background-size: contain;
  width: 250px;
  height: 22px;
  font-size: 16px;
  padding-left: 10px;
  font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", arial;
  letter-spacing: .12em;
  font-weight: 100;
  color: #C7DE55;
  @include border-radius(0px);
  &::-webkit-input-placeholder {
    color: white;
  }

  &::-webkit-input-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
    color: white;
  }
  &.is-saving {
    opacity: 0.4;
  }
}

#returning-user-password {
  @include position(absolute, 400px 0 0 50%);
  margin-left: -230px;
  background-image: image-url('welcome-back-bg.png');
  width: 460px;
  height: 91px;
  input {
    @include shoplift-text-input;
    @include position(absolute, 40px 0 0 90px);
    color: white;
    width: 365px;
    padding: 20px 10px;
  }
}
