@charset "utf-8";
/* CSS Document */

*{
  padding:0;
  margin:0;
}
body{
  background:url(bg.jpg) 50% -130px no-repeat #0d021a;
  min-width:756px;
  
}
a{
  outline:none; 
}
ul{
  list-style-type:none; 
}

.spacer{
  font-size:0;
  line-height:0;
  height:0;
  clear:both;
}

/* Header Style */
.header{
  height:102px;
  background:url(header-backg.png) 0 0 repeat-x;
}
.logoPan{
/*	background:url(shop-lift-logo.png) 0 0 no-repeat; erb link_to */
	width:414px;
	height:102px;
	display:block;
	float:left;
}

/* Top Profile Panel Style */
.profilePan{
	float:right;
	width:82px;
	height:68px;
	background:url(top-right-profile-scaffold.png) 0 0 no-repeat;
	position:relative;
	z-index:500;
}
.profilePan-img-circle-overflow	{
	-webkit-border-radius: 21px;
	border-radius: 21px;
	max-width:42px !important;
	max-height:42px !important;
	position:absolute;
	top: 28px;
right: 22px;
	z-index:500;
	overflow:hidden;
}
.profilePan img{
	margin:0 auto;
	max-width:42px !important;
	max-height:42px !important;
	cursor:pointer;
	position:relative;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.profilePan-img-ring{
	float:right;
	width:59px;
	height:56px;
	background:url(header-profile-img-ring.png) 0 0 no-repeat;
	position:absolute;
	top: 22px;
	right: 13px;
	z-index:700;
}
.profilePan ul{
  position:absolute;
  top:105px;
  left:-7px;
  width:130px;
  font-size:13px;
  line-height:28px;
  font-family:FuturaMdBTMedium;
  text-transform:uppercase;
  display:none;
}
.profilePan ul li{
  background:url(drop-down-middle.png) 0 0 no-repeat;
  line-height:28px;
  height:28px;
  position:relative;
}
.profilePan ul li a{
  color:#F8ECE5;
  text-decoration:none;
  padding-left:25px;
  display:block;
}
.profilePan ul li a:hover{
  background:url(drop-down-hover.png) 0 0 no-repeat;
  color:#0E011B;
}
.profilePan ul li:first-child{
  background:url(drop-down-first.png) 0 0 no-repeat;
  padding-top:8px;
}
.profilePan ul li.arrowLink{
  background:url(drop-down-last.png) 0 0 no-repeat;
  padding-top:8px;
}
.profilePan ul li.arrowLink a.arrow{
  font-size:0;
  line-height:0;
  background:url(drop-arrow.png) 0 0 no-repeat;
  width:18px;
  height:11px;
  margin:0 0 0 58px;
}
.profilePan ul li.arrowLink a.arrow:hover{
  background:url(drop-arrow-hover.png) 0 0 no-repeat;
}
.profilePan ul li ul{
  top:-8px;
  left:0px;
}

.bodyPanel{
  background:url(border.png) 0 528px repeat-x;
  clear:both;
  position:relative;
  top: -40px;
}
.product-backg-line {
  background:url(border.png) repeat-x;
	height:1px;
	width:100%;
	position:absolute;
	top: 114px;
	z-index:0;
}
.productPanel{
  position:relative;
  z-index:100;
}

/* Product box Style */
.productBox{
	width:374px;
	height:438px;
	background:url(item-box-top-layer.png) 0 0 no-repeat;
	margin:100px 30px 0;
	position:relative;
	overflow:visible !important;
}
.not-active-box {
  background:url(item-box-not-active.png) no-repeat;
  width:521px;
  height:606px;
  position:absolute;
  top: 14px;
  left: 12px;
  z-index:500;
}
.profile-img-not-active-box {
  background:url(profile-img-not-active.png) no-repeat;
  width:129px;
  height:129;
  margin-top: -30px;
  margin-left: -44px;
  margin-bottom: -11px;
  /* not in latest from j-j
  position:absolute;
  top:-1px;
  left:-1px;
  z-index:1001;
  */
}
.active .not-active-box, .active .profile-img-not-active-box {
  display:none;
}
.above-wrap {
  z-index:10 !important;
}
.productBox .profileImgPan{
  /* note pos, top, lef, were commented by RoR guys last time */
	position:absolute;
	top: -43px;
	left: -25px;
	width:89px;
	height:84px;
	background:url(item-box-profile-circle.png) 0 0 no-repeat;
	z-index:1000;
}
.productBox .circle-overflow {
	-webkit-border-radius: 40px;
	border-radius: 40px;
	max-width:80px !important;
	max-height:80px !important;
	position:absolute;
	top: -40px;
	left: -22px;
	z-index:500;
	overflow:hidden;
}
.productBox .circle-overflow img {
	-webkit-border-radius: 40px;
	border-radius: 40px;
	max-width:80px !important;
	max-height:80px !important;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}
.productBox h2{
	font-weight:normal;
	font-size:33px;
	line-height:60px;
	font-family:"futura-pt", arial;
	font-weight:400;
	color:#FFF;
	text-transform:uppercase;
	position:absolute;
	top:-37px;
	left:74px;
	z-index:1000;
}
.active.productBox h2{
  color:#F8ECE5 !important;
}
.productBox blockquote{
	padding-top:31px;
	width:364px;
	margin:0 0 0 8px;
	height:77px;
}
.productBox blockquote p{
	font-size:12px;
	line-height: 16px;
	font-family:"futura-pt", arial;
	font-weight:400;
	text-shadow:1px 1px 1px #413D48;
	filter: dropshadow(color=#413D48, offx=1, offy=1);
	text-indent:50px;
	color:#F8ECE5;
	background:url(begining-qoute.png) 48px 0 no-repeat;
	padding:0 20px 0 20px;
}
.productBox blockquote p span{
	background:url(end-qoute.png) 100% 100% no-repeat;
  padding-right:21px;
}

.productImg{
	height:410px;
	position:absolute;
	top: 17px;
	left: 11px;
	z-index: -10;
}
.productPricePan{
	width: 100%;
	height: 37px;
	padding-top: 13px;
	position: absolute;
	bottom: 18px;
	left: 0px;
}
.productPricePan p{
  font-family:FuturaMdBTMedium;
  color:#F8ECE5;
  text-shadow:1px 1px 1px #413D48;
  filter: dropshadow(color=#413D48, offx=1, offy=1);
}
.productPricePan .productName{
	font-size:20px;
	padding-left: 28px;
	font-family:"futura-pt", arial;
	font-weight:400;
}
.productPricePan .productPrice{
	font-size:12px;
	line-height:12px;
	padding-left: 28px;
	font-family:"futura-pt", arial;
	font-weight:400;
}
.productPricePan .productPrice span{
  color:#D6FC56;  
}
.liftBtn{
	display:block;
	width:78px;
	height:50px;
	background:url(re-lift-btn.png) 0 0 no-repeat;
	font-size:25px;
	line-height:71px;
	font-family:FuturaMdBTMedium;
	text-decoration:none;
	color:#000;
	text-shadow: 0px 0px 5px #D6FF3E;
	filter: dropshadow(color=#D6FF3E, offx=0, offy=0);
	text-align:center;
	position:absolute;
	top: 7px;
	left: 251px;
}
.liftBtn:hover {
	-webkit-box-shadow: 0px 0px 4px 0px #D6FF3E;
	box-shadow: 0px 0px 4px 0px #D6FF3E;
}
/* Slider Style */
#carousel{
  width:100%;
}
#carousel .productBox{
  float:left; 
}

#prev, #next {
/*  background-color: rgba(97, 90, 142, 0.7);*/
	display: block;
	height:58px;
	width:58px;
	top:300px;
	position: absolute;
	z-index:10000;
}
#prev{
  background:url(slide-prev.png) 0 0 no-repeat;
  left:0;
}
#next {
  background:url(slide-next.png) 0 0 no-repeat;
  right:0;
}
#prev:hover, #next:hover {
  background-position:0 100%;
}


.active{
  opacity:10;
}
.productBox1{
	float:left;
	width: 374px;
	height: 438px;
}
.productBox2{
	width:177px;
	background:url(drawer-scaffolding.png) 0 0 no-repeat;
	height:417px;
	display:none;
	position:absolute;
	right:0px;
	z-index:-15;
	margin-top:13px;
}
.productBox2-shadow	{
	width:136px;
	background: 0 0 no-repeat;
	height:431px;
	display:none;
	position:absolute;
	right:0px;
	z-index:-5;
}
.slideBtn{
	position:absolute;
	bottom: 11px;
	left: 327px;
	background:url(close-btn.png) 0 0 no-repeat;
	width:35px;
	height:50px;
	font-size:0;
	line-height:0;
	text-indent:-5000px;
	display:block;
	z-index:100;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
		-webkit-transition: all 0.3s linear;
		-moz-transform-style: preserve-3d;
		-moz-transition: all 0.3s linear;
		-o-transform-style: preserve-3d;
		-o-transition: all 0.3s linear;
		transform-style: preserve-3d;
		transition: all .3s linear;
}
.slideOff{
	-webkit-transform: rotateZ(-180deg);
	-moz-transform: rotateZ(-180deg);
	-o-transform: rotateZ(-180deg);
		-webkit-transition: all 0.3s linear;
		-moz-transform-style: preserve-3d;
		-moz-transition: all 0.3s linear;
		-o-transform-style: preserve-3d;
		-o-transition: all 0.3s linear;
		transform-style: preserve-3d;
		transition: all .3s linear;
}

/* Tab Nav Style */
.tabNav{
	width: 177px;
	margin: 13px auto 0;
}
.tabNav li{
	
	
}
.tabNav li a{
	display:block;
	width:62px;
	height:20px;
	text-align:center;
	font:400 14px/20px "futura-pt", arial;
	text-transform:uppercase;
	color:#fdeee8;
	text-decoration:none;
}
.tabNav li a:hover{
	color:#0f011d;
	text-shadow: 1px 1px 3px #efddcd;
    filter: dropshadow(color=#efddcd, offx=1, offy=1);
}
.tabNav li.tab1 {
		float:left;
		margin-left:9px;
}
.tabNav li.tab2 {
	float:right;
	margin-right:18px;
}
 .tabNav li.tab1.activeTab a, .tabNav li.tab2.activeTab a{
	color:#ffffff;
	text-shadow: 1px 1px 10px white;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.tabNav li.tab1 a:hover, .tabNav li.tab2 a:hover {
	color:#fff;
	text-shadow: 1px 1px 10px white;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.tabContent{
	/* display:none; do not use this (may try to come back with next j-j template but ignore it) */
	padding:0 3px;
}
#tabContent1{
	display:block;	
}
.tabLinkPan{
	width:171px;
	height: 263px;
	overflow:hidden;
	clear: both;
	padding: 64px 0 0px;
}
.tabContent div.tabInnerLink{

}
.diagnal-top-right-shadow	{
	background:url(diagnal-top-right-shadow.png) no-repeat;
	margin-top:-10px;
	height:43px;
	width:4px;
}
.tabContent div.tabInnerLink a{
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
	font:400 12px/35px "futura-pt", Arial, Helvetica, sans-serif;
	width:184px;
	height: 35px;
	padding-left:30px;
	display:block;
	background-color:#332d45;
	margin-left:-15px;
	margin-bottom:5px;
	color:#F8ECE5;
	text-decoration:none;
	letter-spacing:1px;
	
	/*-moz-box-shadow:
        inset 5px 0 15px -5px #000,
        inset -5px 0 15px -5px #000;
    -webkit-box-shadow:
        inset 5px 0 15px -5px #000,
        inset -5px 0 15px -5px #000;
    box-shadow:
        inset 5px 0 15px -5px #000,
        inset -5px 0 15px -5px #000;*/
}
.tabContent div.tabInnerLink a:hover{
	color:#FFF !important;
	text-shadow: 1px 1px 10px white;
	filter: dropshadow(color=#fff, offx=1, offy=1);	
}

.tag-txt a{
	color:#D6FC56 !important;
}

.bottomButtonPan{
	width:166px;
	height:100%;
	overflow:hidden;
	margin-left:3px;
	
}
.bottomButtonPan .shareBtn{
	display:block;
	background:url(drawer-btn-backg.png) no-repeat;
	width:54px;
	height:34px;
	font:400 14px/14px "futura-pt", Arial, Helvetica, sans-serif;
	color:#f8ece5;
	text-decoration:none;
	text-align:center;
	float:left;
	margin-right:2px;
	padding-top:17px;
}
.bottomButtonPan .saveBtn{
	display:block;
	background:url(drawer-btn-backg.png) no-repeat;
	width:54px;
	height:34px;
	font:400 14px/14px "futura-pt", Arial, Helvetica, sans-serif;
	color:#f8ece5;
	text-decoration:none;
	text-align:center;
	float:left;
	margin-right:2px;
	padding-top:17px;
}
.bottomButtonPan .buyBtn{
	display:block;
	background:url(drawer-btn-backg.png) no-repeat;
	width:54px;
	height:34px;
	font:400 14px/14px "futura-pt", arial;
	color:#f8ece5;
	text-decoration:none;
	text-align:center;
	float:left;
	padding-top:17px;
}
.bottomButtonPan a:hover{
	text-shadow: 1px 1px 10px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);	
}
.bottomButtonPan-shadow	{
	background:url(bottomButtonPan-shadow.png) no-repeat;
	width:201px;
	height:83px;
	position:absolute;
	bottom: -9px;
	left: -11px;
}
/* Video Page Style */
.bodyPanel2{
	background:url(border.png) 0 19px repeat-x;
	clear:both;
}
.videoPanel{
	background:url(border.png) 0 474px repeat-x;
	position:relative;
}
.videoBG1{
	background:url(login-line.png) 1005px 0 no-repeat;	
}
.videoBg2{
	background:url(video-side-line.png) 50% 0 repeat-y;	
}
.loginButtonPan{
  display:block;
  background:url(buy-btn-bg.png) 0 0 no-repeat;
  width:92px;
  height:40px;
  margin-right: 10px;
  overflow:hidden;
  font:bold 14px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#f8ece5;
  text-decoration:none;
  text-align:center;
  float:left;
}


/* Video Page Style */
.videoWrapper{
	width:1000px;
	height:494px;
	background:url(video-bg.png) 0 0 no-repeat;
	margin:0 auto;
}
.videoWrapper2{
  background:url(border.png) 0 169px repeat-x;
}
.videoWrapper3{
  background:url(border.png) 0 624px repeat-x;
}


/* Header Style */
.videoHeader{
  height:115px;
  width:100%;
  background:url(header-bg.png) 0 0 repeat-x;
  position:absolute;
  top:0;
  left:0;
}
.videoHeader .logoPan{
  background:url(logo-panel-bg.png) 0 0 no-repeat;
  float:left;
}


/* Video Page Style */
.videoContainer{
  background:url(login-line.png) 705px 0 no-repeat;
  width:1000px;
  margin:0 auto;
}
.videoContainer2{
  padding-top:150px;
}

.videoPan{
  height:494px;
  background:url(video-bg.png) 0 0 no-repeat;
  margin:0 auto;
  position:relative;
}
.videoBox{
  width:951px;
  height:445px;
  padding:24px 0 0 24px;
}

/* Login Panel Style */
.loginContainer{
  width:248px;
  height:445px;
  background:url(login-inner-line.png) 4px 0 repeat-y;
  position:absolute;
  top:24px;
  right:51px;
  z-index:100;
}
.loginBox{
  width:220px;
  height:326px;
  background:url(login-box-bg.png) 0 0 no-repeat;
  margin-top:40px;
  padding-left:28px;
}
.loginBox p{
  font:bold 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#fdf4e8;
  padding:36px 0 18px;
}
.loginBox img{
  border:0; 
}
.loginBox label{
  font:bold 12px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#fdf4e8;
  display:block;
  padding:10px 0 10px 70px;
}
.loginBox input[type=text], 
.loginBox input[type=password]{
  width:160px;
  height:16px;
  background-color:#fff;
  border:0;
  font:12px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding:5px;
  color:#120223;
  margin-bottom:10px;
}
.loginBox .forgotPassword{
  font-size:10px;
  line-height:12px;
  padding:0;
}
.loginBox .forgotPassword a{
  color:#fdf4e8;  
}
.loginBox .forgotPassword a:hover{
  text-decoration:none; 
}
.loginBox .notMember{
  padding:62px 0 0 0;
}
.loginBox .notMember a{
  color:#fdf4e8;  
}
.loginBox .notMember a:hover{
  text-decoration:none; 
}


/* RoR developer additions/changes */
.roundImage {
  border-radius:100px; 
  border:4px solid white;
  overflow:hidden;
}
