<!DOCTYPE html>
<html lang="en">
  <%= render "page/header" %>
<body>
  <%= render "page/subhead" %>
  <div id="content">
    <%= yield :layout %>
  </div>
  <%= render "page/footer" %>
</body>
</html>

