<div id="tagline">
	<img src="img/are-you-being-followed.png" alt="Are you being followed?" />
</div>

<a {{action goSignin}}><img src="/img/home-signin.png" id="signin" alt="Already a member? Sign in." /></a>
<a {{action goLearn}}><img src="/img/home-learn.png" id="learn" alt="Not sure what The Shoplift is all about? Read about us." /></a>
<a {{action goSignup}}><img src="/img/home-signup.png" id="signup" alt="Ready to join now? Sign up." /></a>