<a {{action close target="view"}} id="close-letter"><img src="/img/landing-close.png" /></a>
<img src="/img/learn-scaffolding-top.png" id="top" />
<div id="letter">
	<div>
	<p>Thanks for finding your way to The Shoplift.  
	
	<p>We've been hard at work for almost a year now: getting The Shoplift coded, teaching it to do smart things, and above all designing it to be a beautiful and exciting new destination.  A place worth spending your time – not just another place to spend your money.  
	
	<p>Remember what shopping malls used to be like, back before we started carrying the Internet around in our pockets?  Places to hang out and browse around, spot the latest trends and discover the coolest things? 
	
	<p>We’re bringing that back.
	
	<p>At The Shoplift, you can hang out and browse around, just as you would in an old-fashioned mall.  There’s no pressure to buy; just hunt for stuff you like, and follow anyone whose taste you think is cool.  As you shop, grab the items you like most and “shoplift” them: add them to a collection of your own, which we’ll showcase for friends and fans the next time they visit.
	
	<p>The Shoplift is a new kind of shopping mall – a mall that we (the shoppers) are about to build for ourselves.  We’re stealing the job of curating away from the big retailers.  From now on, we get to decide for ourselves what’s cool and what’s not.
	
	<p>We’re still ironing out a few kinks, but we’ve decided to open our doors on schedule anyway.  We won't be sending out phony "invitations," and there's no need to apply or get approval before joining.  If you have good taste, or enough people think you’re cool, you’ll quickly attract a following, and you’ll probably have a good time.  (And if you’ve found your way here, chances are you're doing something right on the coolness front.)  

	<p>So: come on in and give The Shoplift a try.  Forgive us when you spot stuff features that aren't working just yet, and share any ideas you have for improvements.  Join us as we show the world what shopping looks like in the twenty-first century.
	</div>
</div>
<img src="/img/learn-scaffolding-bottom.png" id="bottom" />

<div id="home-container">
<a {{action goSignin}}><img src="/img/home-signin.png" id="signin" alt="Already a member? Sign in." /></a>
<a {{action goLearn}}><img src="/img/home-learn.png" id="learn" alt="Not sure what The Shoplift is all about? Read about us." /></a>
<a {{action goSignup}}><img src="/img/learn-signup.png" id="signup" alt="Ready to join now? Sign up." /></a>
</div>