<img src="/img/learn-scaffolding-top.png" id="top" />
<div id="modal">
	<div>
		<img src="/img/name-instructions.png" alt="Awesome, let’s get you signed up. (Don’t worry, this’ll be quick and easy.) We’ll start with your name. Enter your name as you’d like other members to see it. Use your real name or a nickname – your choice. Feel free to use spaces too." />
		{{view Landing.NameField contentBinding="controller"}}
	</div>
</div>
<a {{action next}}><img src="/img/chevron-next.png" alt="next" /></a>
<img src="/img/learn-scaffolding-bottom.png" id="bottom" />