<img src="/img/learn-scaffolding-top.png" id="top" />
<div id="modal">
	<div>
		<img src="/img/photo-instructions.png" alt="Choose a photo or logo. We’ll frame it and display it as the face of your account. (You can skip this for now and do it later if you prefer.)" />
	</div>
</div>
<a {{action next}}><img src="/img/chevron-next.png" alt="next" /></a>
<img src="/img/learn-scaffolding-bottom.png" id="bottom" />